@require '../../stylus/settings/palette'
@require '../../stylus/tools/mixins'

.toggle
    display inline-block
    width   rem(40)
    height  rem(24)

.toggle--subtle
    width rem(25)
    height rem(16)
    display inline-flex
    align-items center

.checkbox
    display none

.label
    position      relative
    display       inline-block
    width         100%
    height        100%
    border-radius rem(16)
    background    silver
    transition    all .2s ease-out
    cursor        pointer

.label:before
    position      absolute
    top           0
    bottom        0
    left          rem(2)
    display       inline-block
    width         rem(20)
    height        rem(20)
    margin        auto
    border-radius 50%
    content       ''
    background    white
    transition    all .2s ease-out

.toggle--subtle .label
    height rem(12)

.toggle--subtle .label:before
    width rem(16)
    height rem(16)
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.24)
    left rem(-2)

.checkbox:checked + .label
    background emerald

    &:before
        left rem(18)

.toggle--subtle .checkbox:checked + .label
    background var(--dodgerBlue)

    &:before
        left rem(9)
