@require 'settings/spaces.styl'

.CollectionField__addBtn
    margin-left 0
    margin-right 0

.CollectionField__addBtnIcon
    margin-right spacing_values.xs

.CollectionField__row
    display flex
    align-items center

    > * + *
        margin-left spacing_values.m
