// @stylint off

// FONTS
@require '../settings/fontstack'

body
    font 1em/1.5
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased
    @extend $font-labor

// Overrides Normalize.css default style
button,
input,
optgroup,
select,
textarea
    @extend $font-labor

// LAYOUT
html
  height  100%
  // Necessary not to have broken layout on iOS
  // https://github.com/cozy/cozy-ui/issues/161
  overflow hidden

body
  display         flex
  flex-direction  column
  align-items     stretch
  width           100vw
  height          100%
  overflow        hidden

[role=application]
    display     flex
    height      inherit
    flex        1 1 100%
    overflow-x  hidden
    overflow-y  auto

// COLORS
body
    background-color white
    color            black

// FORMS
@require '../components/forms'

[data-input=radio]
    @extend $form-checkbox

    label::before
        border-radius 50%
        border        2px solid cool-grey
        box-shadow    inset 0 0 0 checkbox-size transparent

    input[type=radio]:checked + label::before
        box-shadow inset 0 0 0 3px pale-grey, inset 0 0 0 checkbox-size dodger-blue


[data-input=checkbox]
    @extend $form-checkbox

    label
        &::before
        &::after
            border-radius 2px

        &::before
            box-shadow        inset 0 0 0 2px alpha(charcoal-grey, 0.25)
            background-color  white

            &:hover
                box-shadow inset 0 0 0 2px dodger-blue

        &::after
            background-image  embedurl('../../assets/icons/ui/check.svg')
            background-size   contain

    &[aria-checked='mixed'] label::after
            background-image  embedurl('../../assets/icons/ui/dash.svg')
            background-size   contain

    input[type=checkbox]
        &:checked
            & + label::before
                box-shadow inset 0 0 0 checkbox-size dodger-blue

            & + label::after
                opacity   1
                transform scale(1)

        &:not(:checked) + label::after
            opacity   0
            transform scale(0)
// @stylint on
