@require 'settings/palette.styl'

.intentHeader
    display flex
    align-items center
    height 2rem
    padding .5rem 1rem
    background-color paleGrey
    margin 0
    // Keep its height in a flex configuration
    flex-basis auto
    flex-shrink 0

.intentHeader-title
    display flex
    align-items center
    font-size 1.25rem
    color charcoalGrey

    span
        font-weight normal

.intentHeader-icon
    height 1.125rem
    margin-right .5rem
