@import '../stylus/cozy-ui'

body
    font-size 12px

    p
        font-size 14px
        padding-top em(1.6em)
        padding-bottom em(14px)

        li
            a
                font-size 14px
