@require '../tools/mixins'
@require './colors'

json_colors=json('../settings/palette.json', { hash: true })

for color in utility_colors
    $bg-color-{color}
        background-color: json_colors[color] !important // @stylint ignore

    global('.u-bg-' + color, '$bg-color-' + color)
