@require '../tools/mixins'
/*------------------------------------*\
  Box-sizing utility
\*------------------------------------*/

$box-sizing-border
    box-sizing border-box

// Global classes
global('.u-bxz', $box-sizing-border)
