utility_colors = 'black',
   'charcoalGrey',
   'coolGrey',
   'silver',
   'slateGrey',
   'lightishPurple',
   'dodgerBlue',
   'overlay',
   'paleGrey',
   'monza',
   'pomegranate',
   'primaryBackgroundLight',
   'primaryColor',
   'primaryColorLight',
   'primaryContrastTextColor',
   'error',
   'errorBackground',
   'success',
   'warning',
   'info',
   'weirdGreen',
   'white'

