@require '../tools/mixins'
/*------------------------------------*\
  Cursor utilities
\*------------------------------------*/

$cursor-default
    cursor default

$cursor-help
    cursor help

$cursor-pointer
    cursor pointer

$cursor-wait
    cursor wait

$cursor-not-allowed
    cursor not-allowed

// Global classes
global('.u-c-default', $cursor-default)
global('.u-c-help', $cursor-help)
global('.u-c-pointer', $cursor-pointer)
global('.u-c-wait', $cursor-wait)
global('.u-c-not-allowed', $cursor-not-allowed)

