@require '../settings/breakpoints'
@require '../tools/mixins'

/*------------------------------------*\
  Display utilities
\*------------------------------------*/

/*
    Visually hidden element but still readable by screen-readers
    FR : http://www.ffoodd.fr/cache-cache-css/
    EN : http://hugogiraudel.com/2016/10/13/css-hide-and-seek/
*/

hidden()
    // @stylint off
    position     absolute !important
    border       0 !important
    width        1px !important
    height       1px !important
    overflow     hidden !important
    padding      0 !important
    white-space  nowrap !important
    clip         rect(1px, 1px, 1px, 1px) !important
    clip-path    inset(50%) !important
    // @stylint on

$visuallyhidden
    hidden()

// Because Stylus doesn't allow me to @extend inside @media… yeah… that sucks
+medium-screen()
    $visuallyhidden-mobile
        hidden()

$hide
[aria-hidden=true]
    hide()

$hide--mob
    +no-desktop()
        display none !important // @stylint ignore

$hide--tablet
    +no-tablet()
        display none !important // @stylint ignore

$hide--desk
    +no-mobile()
        display none !important // @stylint ignore

