/*
    Utilities

    Ready-to-use utility classes

    Weight: -4

    Styleguide utilities
*/

/*
    Display

    Utilities that change the box model of an element or its visibility.

    Styleguide utilities.display
*/

/*
    Visibility

    Utilities that show or hide an element for a giving viewport size.

    Markup:
    <p class="{{modifier_class}}">I'm visible! 🎉</p>

    .u-hidden - Element is visually hidden but still readable by screen-readers
    .u-hide - Element is totally hidden (even for screen readers)
    .u-hide--desk - Element is hidden on desktop (>768px)
    .u-hide--mob - Element is hidden on mobile (<1023px)

    Styleguide utilities.visibility
*/
@require '../settings/breakpoints'
@require '../tools/mixins'

/*
    Visually hidden element but still readable by screen-readers
    FR : http://www.ffoodd.fr/cache-cache-css/
    EN : http://hugogiraudel.com/2016/10/13/css-hide-and-seek/
*/
.coz-hidden // deprecated
.u-visuallyhidden
// @stylint off
    position     absolute !important
    border       0 !important
    width        1px !important
    height       1px !important
    overflow     hidden !important
    padding      0 !important
    white-space  nowrap !important
    clip         rect(1px, 1px, 1px, 1px) !important
    clip-path    inset(50%) !important
// @stylint on

.u-hide
[aria-hidden=true]
    hide()

.coz-desktop // deprecated
.u-hide--mob
    +no-desktop()
        display none !important // @stylint ignore

.coz-mobile // deprecated
.u-hide--desk
    +no-mobile()
        display none !important // @stylint ignore

