@require '../generic/animations.styl'

/*------------------------------------*\
  Effects utilities
\*------------------------------------*/

.u-shake
    // For animation with keyframes to work with cssmodules and :global,
    // it was necessary to add :local. A bit weird...
    // https://github.com/css-modules/css-modules/issues/141#issuecomment-243011699
    if cssmodules == true
        :local
            animation-name shake
    else
        animation-name shake

    animation-duration 820ms
    animation-timing-function cubic-bezier(.36, .07, .19, .97)
    animation-fill-mode both


