// Utilities
//
// Ready-to-use utility classes
//
// Weight: -4
//
// Styleguide utilities

// Hidden texts & elements
//
// Class that hide visually an element but that's still readable by
// screen-readers
//
// Markup:
// <p>I'm visible!</p>
// <p class="u-hidden">I'm NOT visible!</p>
//
// Styleguide utilities.hidden

// Visually hidden element but still readable by screen-readers
//  FR : http://www.ffoodd.fr/cache-cache-css/
//  EN : http://hugogiraudel.com/2016/10/13/css-hide-and-seek/
.coz-hidden // depreciated
.u-hidden
// @stylint off
    position     absolute !important
    border       0 !important
    width        1px !important
    height       1px !important
    overflow     hidden !important
    padding      0 !important
    white-space  nowrap !important
    clip         rect(1px, 1px, 1px, 1px) !important
    clip-path    inset(50%) !important
// @stylint on
