@require '../tools/mixins'
@require '../objects/media'

global('.u-media', $media)
global('.u-media-top', $media--top)
global('.u-media-bottom', $media--bottom)
global('.u-media-grow', $media__grow)
global('.u-media-fixed', $media__fixed)
