/*------------------------------------*\
  Overflow utilities
\*------------------------------------*/

overflow-visible()
    overflow visible

overflow-hidden()
    overflow hidden

overflow-scroll()
    overflow scroll

overflow-auto()
    overflow auto

// Global classes
global('.u-ov-visible', overflow-visible, mixin)

global('.u-ov-hidden', overflow-hidden, mixin)

global('.u-ov-scroll', overflow-scroll, mixin)

global('.u-ov-auto', overflow-auto, mixin)

