@require '../settings/breakpoints'
@require '../tools/mixins'
/*------------------------------------*\
  Position utilities
\*------------------------------------*/

position-absolute()
    position absolute

position-relative()
    position relative

position-fixed()
    position fixed

position-sticky()
    position sticky

position-static()
    position static

props = {
    'position-absolute': 'pos-absolute',
    'position-relative': 'pos-relative',
    'position-fixed': 'pos-fixed',
    'position-sticky': 'pos-sticky',
    'position-static': 'pos-static',
}

if cssmodules == true
    cssModulesUtils(props, breakpoints)
else
    nativeUtils(props, breakpoints)
