@require '../tools/mixins'
/*------------------------------------*\
  Position utilities
\*------------------------------------*/

$position-absolute
    position absolute

$position-relative
    position relative

$position-fixed
    position fixed

$position-sticky
    position sticky

$position-static
    position static

// Global classes
global('.u-pos-absolute', $position-absolute)
global('.u-pos-relative', $position-relative)
global('.u-pos-fixed', $position-fixed)
global('.u-pos-sticky', $position-sticky)
global('.u-pos-static', $position-static)
