/*------------------------------------*\
  Space utilities
\*------------------------------------*/

// @stylint off
types = {
    p: padding,
    m: margin
}
sizes = {
    '0': 0,
    'half': .5rem,
    '1': 1rem,
    '1-half': 1.5rem,
    '2': 2rem,
    '2-half': 2.5rem,
    '3': 3rem
}
directions = {
    '': all,
    t: top,
    b: bottom,
    l: left,
    r: right,
    v: vertical,
    h: horizontal
}
for kType, vType in types
    for kSize, vSize in sizes
        for kDir, vDir in directions
            if vDir == all
                ${kType}-{kSize}
                    {vType}: vSize
                global('.u-'+kType+'-'+kSize, '$'+kType+'-'+kSize)
            else if vDir == vertical
                ${kType}{kDir}-{kSize}
                    {vType}-top: vSize
                    {vType}-bottom: vSize
                global('.u-'+kType+kDir+'-'+kSize, '$'+kType+kDir+'-'+kSize)
            else if vDir == horizontal
                ${kType}{kDir}-{kSize}
                    {vType}-left: vSize
                    {vType}-right: vSize
                global('.u-'+kType+kDir+'-'+kSize, '$'+kType+kDir+'-'+kSize)
            else
                ${kType}{kDir}-{kSize}
                    {vType}-{vDir}: vSize
                global('.u-'+kType+kDir+'-'+kSize, '$'+kType+kDir+'-'+kSize)
// @stylint on
