/*
    Margins

    Classes to add margins on top, bottom, right, left or all of them based on
    default font-size (16px)

    .u-m-half - Margins on all sides with half a line (8px)
    .u-m-1 - Margins on all sides with 1 line (16px)
    .u-m-1-half - Margins on all sides with 1 line an a half (24px)
    .u-m-2 - Margins on all sides with 2 lines (32px)
    .u-m-2-half - Margins on all sides with 1 line an a half (40px)
    .u-m-3 - Margins on all sides with 2 lines (48px)
    .u-mt-half - Margin Top with half a line (8px)
    .u-mt-1 - Margin Top with 1 line (16px)
    .u-mt-1-half - Margin Top with 1 line an a half (24px)
    .u-mt-2 - Margin Top with 2 lines (32px)
    .u-mt-2-half - Margin Top with 1 line an a half (40px)
    .u-mt-3 - Margin Top with 2 lines (48px)
    .u-mb-half - Margin Bottom with half a line (8px)
    .u-mb-1 - Margin Bottom with 1 line (16px)
    .u-mb-1-half - Margin Bottom with 1 line an a half (24px)
    .u-mb-2 - Margin Bottom with 2 lines (32px)
    .u-mb-2-half - Margin Bottom with 1 line an a half (40px)
    .u-mb-3 - Margin Bottom with 2 lines (48px)
    .u-ml-half - Margin Left with half a line (8px)
    .u-ml-1 - Margin Left with 1 line (16px)
    .u-ml-1-half - Margin Left with 1 line an a half (24px)
    .u-ml-2 - Margin Left with 2 lines (32px)
    .u-ml-2-half - Margin Left with 1 line an a half (40px)
    .u-ml-3 - Margin Left with 2 lines (48px)
    .u-mr-half - Margin Right with half a line (8px)
    .u-mr-1 - Margin Right with 1 line (16px)
    .u-mr-1-half - Margin Right with 1 line an a half (24px)
    .u-mr-2 - Margin Right with 2 lines (32px)
    .u-mr-2-half - Margin Right with 1 line an a half (40px)
    .u-mr-3 - Margin Right with 2 lines (48px)

    Markup:
    <div style="background-color:dimgrey; border: 1px solid black;"><div style="padding:.5rem; background-color:gainsboro;" class="{{modifier_class}}">🎶 Gimme some margin 🎵 </div></div>

    Styleguide utilities.margins
*/

/*
    Paddings

    Classes to add paddings on top, bottom, right, left or all of them based on
    default font-size (16px)

    .u-p-half - Paddings on all sides with half a line (8px)
    .u-p-1 - Paddings on all sides with 1 line (16px)
    .u-p-1-half - Paddings on all sides with 1 line an a half (24px)
    .u-p-2 - Paddings on all sides with 2 lines (32px)
    .u-p-2-half - Paddings on all sides with 1 line an a half (40px)
    .u-p-3 - Paddings on all sides with 2 lines (48px)
    .u-pt-half - Padding Top with half a line (8px)
    .u-pt-1 - Padding Top with 1 line (16px)
    .u-pt-1-half - Padding Top with 1 line an a half (24px)
    .u-pt-2 - Padding Top with 2 lines (32px)
    .u-pt-2-half - Padding Top with 1 line an a half (40px)
    .u-pt-3 - Padding Top with 2 lines (48px)
    .u-pb-half - Padding Bottom with half a line (8px)
    .u-pb-1 - Padding Bottom with 1 line (16px)
    .u-pb-1-half - Padding Bottom with 1 line an a half (24px)
    .u-pb-2 - Padding Bottom with 2 lines (32px)
    .u-pb-2-half - Padding Bottom with 1 line an a half (40px)
    .u-pb-3 - Padding Bottom with 2 lines (48px)
    .u-pl-half - Padding Left with half a line (8px)
    .u-pl-1 - Padding Left with 1 line (16px)
    .u-pl-1-half - Padding Left with 1 line an a half (24px)
    .u-pl-2 - Padding Left with 2 lines (32px)
    .u-pl-2-half - Padding Left with 1 line an a half (40px)
    .u-pl-3 - Padding Left with 2 lines (48px)
    .u-pr-half - Padding Right with half a line (8px)
    .u-pr-1 - Padding Right with 1 line (16px)
    .u-pr-1-half - Padding Right with 1 line an a half (24px)
    .u-pr-2 - Padding Right with 2 lines (32px)
    .u-pr-2-half - Padding Right with 1 line an a half (40px)
    .u-pr-3 - Padding Right with 2 lines (48px)

    Markup:
    <div style="background-color:gainsboro; display: inline-block;" class="{{modifier_class}}"><span style="background-color:bisque;">🎼 Gimme some padding 💃</span></div>

    Styleguide utilities.paddings
*/

// @stylint off
types = {
    p: padding,
    m: margin
}
sizes = {
    half: 0.5rem,
    '1': 1rem,
    '1-half': 1.5rem,
    '2': 2rem,
    '2-half': 2.5rem,
    '3': 3rem
}
directions = {
    '': all,
    t: top,
    b: bottom,
    l: left,
    r: right
}
for kType, vType in types
    for kSize, vSize in sizes
        for kDir, vDir in directions
            if vDir != all
                .u-{kType}{kDir}-{kSize}
                    {vType}-{vDir}: vSize
            else
                .u-{kType}-{kSize}
                    {vType}: vSize
// @stylint on
