@require '../settings/palette'

/*------------------------------------*\
  Text utilities
\*------------------------------------*/

$error
    color  pomegranate

$error-warning
    &:before
        content         ''
        display         inline-block
        margin-right    .5rem
        width           1rem
        height          .875rem
        background      embedurl('../assets/icons/ui/icon-warning.svg') center center / contain no-repeat
        vertical-align  text-bottom

$valid
    color  malachite

$warn
    color  texasRose
