@require '../settings/palette'
@require '../tools/mixins'

/*------------------------------------*\
  Text utilities
\*------------------------------------*/

$error
    color  pomegranate

$error-warning
    &:before
        content         ''
        display         inline-block
        margin-right    rem(8)
        width           rem(16)
        height          rem(14)
        background      embedurl('../assets/icons/ui/warning.svg') center center / contain no-repeat
        vertical-align  text-bottom

$valid
    color  malachite

$warn
    color  texasRose

for color in keys($palette)
    $color-{color}
        color: lookup(color) !important // @stylint ignore

    global('.u-' + color, '$color-' + color)


$ellipsis
    display block
    width 100%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

$midellipsis
    display flex
    flex-wrap nowrap

    > * // @stylint ignore
        display inline-block
        max-width 50%
        overflow hidden
        white-space pre

    > :first-child
        text-overflow ellipsis

    > :last-child
        text-overflow clip
        direction rtl

    @supports(text-overflow: '[...]')
        > :first-child
            text-overflow '[...]'

// Global classes
global('.u-error', $error)
global('.u-error--warning', $error-warning)
global('.u-valid', $valid)
global('.u-warn', $warn)
global('.u-ellipsis', $ellipsis)
global('.u-midellipsis', $midellipsis)
