@require 'components/chip'

.c-chip
    @extend $chip

.c-chip--round
    @extend $round-chip

.c-chip--tinySize
    @extend $tiny-size-chip

.c-chip--smallSize
    @extend $small-size-chip

.c-chip--normalSize
    @extend $normal-size-chip

.c-chip--outlinedVariant
    @extend $outlined-variant-chip

.c-chip--dashedVariant
    @extend $dashed-variant-chip

.c-chip--normalTheme
    @extend $normal-theme-chip

.c-chip--primaryTheme
    @extend $primary-theme-chip

.c-chip--errorTheme
    @extend $error-theme-chip

.c-chip--outlinedNormalTheme
    @extend $chip--outlinedNormalTheme

.c-chip--hoverableNormalTheme
    @extend $chip--hoverableNormalTheme

.c-chip--normalPrimaryTheme
    @extend $chip--normalPrimaryTheme

.c-chip--hoverablePrimaryTheme
    @extend $chip--hoverablePrimaryTheme

.c-chip--hoverableErrorTheme
    @extend $chip--hoverableErrorTheme

.c-chip--clickable
    @extend $chip--clickable

.c-chip-separator
    @extend $chip-separator

.c-chip-button
    @extend $chip-button

.c-chip-button--disabled
    @extend $chip-button--disabled
