$transluentWhite=rgba(255, 255, 255, 0.88)

.CozyTheme--inverted
    background: var(--primaryColor)
    --barIconColor white
    --barIconColorDisabled $transluentWhite

    --regularButtonPrimaryColor: var(--primaryContrastTextColor)
    --regularButtonSecondaryColor: var(--primaryContrastTextColor)
    --regularButtonActiveColor: $transluentWhite
    --regularButtonConstrastColor: var(--primaryColor)

    --secondaryButtonPrimaryColor: var(--primaryColor)
    --secondaryButtonSecondaryColor: var(--white)
    --secondaryButtonActiveColor: rgba(255, 255, 255, 0.24)
    --secondaryButtonContrastColor: var(--white)
