$translucentWhite1=rgba(255, 255, 255, 0.24)
$translucentWhite2=rgba(255, 255, 255, 0.88)

.CozyTheme--inverted
    background: var(--primaryColor)

    --primaryTextColor: var(--primaryContrastTextColor)
    --secondaryTextColor: var(--primaryContrastTextColor)
    --barIconColor var(--primaryContrastTextColor)
    --barIconColorDisabled $translucentWhite2

    --regularButtonPrimaryColor: var(--primaryContrastTextColor)
    --regularButtonSecondaryColor: var(--primaryContrastTextColor)
    --regularButtonActiveColor: $translucentWhite2
    --regularButtonConstrastColor: var(--primaryColor)

    --secondaryButtonPrimaryColor: var(--primaryColor)
    --secondaryButtonSecondaryColor: var(--white)
    --secondaryButtonActiveColor: $translucentWhite1
    --secondaryButtonContrastColor: var(--white)
