@require 'tools/mixins'
.modal-header {
    padding-left 1rem 
    padding-right 1rem 
    padding-top 0
    display flex
    width 100% 
    box-sizing border-box
    justify-content space-between
    align-items center
    border-bottom 0.5px solid rgba(0, 0, 0, 0.3)
}

.modal-footer {
    padding rem(8)
    padding-bottom calc(0.5rem + env(safe-area-inset-bottom))
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.06)
}
