@require 'settings/palette.emit.styl' // 130k
@require 'elements/defaults.emit.styl'
@require 'utilities/display.emit.styl'
@require 'utilities/text.emit.styl'

@require '../../stylus/objects/layouts.styl'

.o-layout
    @extend $app

.o-layout-2panes
    @extend $app-2panes-sticky
