@require '../../stylus/objects/layouts'

.o-layout
    @extend $app

.o-layout--withTopBar
    @extend $app--withTopBar

.o-layout-2panes
    @extend $app-2panes-sticky

.o-layout-2panes--withTopBar
    @extend $app-2panes--withTopBar
