/*!
 * ICONS
 * ================
 *
 * This file contains icons coded in data:uri
 */

$icon
    content ''
    display inline-block
    vertical-align middle
    background-position center
    background-repeat no-repeat
    background-size cover


// icon's sizes
// ========================================================
$icon-12
    width em(12px)
    height em(12px)

$icon-16
    width em(16px)
    height em(16px)

$icon-24
    width em(24px)
    height em(24px)

$icon-36
    width em(36px)
    height em(36px)


// icon's properties
// ========================================================
$spin
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    animation 1s linear infinite spin

$icon-spinner-grey
    @extend $icon
    @extend $spin
    background-image embed('../../assets/icons/spinner-grey.svg')

$icon-spinner-white
    @extend $icon
    @extend $spin
    background-image embed('../../assets/icons/spinner-white.svg')
