/*!
 * PALETTE / COLORS
 * ================
 *
 * This file contains colors declarations and tools.
 */

// defaults
black = #000000
white = #FFFFFF

// 50 (well, in fact, mostly 8) shades of grey
grey-01 = #EAEEF2
grey-02 = #DDE6EF
grey-03 = #C8D5DF
grey-04 = #ACB8C5
grey-05 = #92A0B2
grey-06 = #788195
grey-07 = #4F5B69
grey-08 = #32363F
grey-09 = #D6D8Da
grey-10 = #F5F6F7
grey-11 = #95999D

// more of cozy UI
// blue
dodger-blue    = #297EF2
science-blue   = #0B61D6
puerto-rico    = #4DCEC5
// green
emerald        = #35CE68
malachite      = #08b442
// orange
texas-rose     = #FFAE5F
// red
your-pink      = #FDCBCB
pomegranate    = #F52D2D
monza          = #DD0505
// purple
portage        = #9169F2
