/*------------------------------------*\
  Palette / colors
  ================

  This file contains colors declarations and tools
\*------------------------------------*/

// defaults
black = #000000
white = #FFFFFF

// 50 (well, in fact, mostly 12) shades of grey

// Depreciated colors with fallback for a time
grey-01 = pale-grey
grey-02 = silver
grey-03 = silver
grey-04 = cool-grey
grey-05 = cool-grey
grey-06 = cool-grey
grey-07 = slate-grey
grey-08 = charcoal-grey
grey-09 = silver
grey-10 = pale-grey
grey-11 = cool-grey
grey-12 = slate-grey
// !Depreciated colors

// Greys
pale-grey     = #F5F6F7
silver        = #D6D8Da
cool-grey     = #95999D
slate-grey    = #5D6165
charcoal-grey = #32363F

// more of cozy UI
// blue
dodger-blue    = #297EF2
science-blue   = #0B61D6
puerto-rico    = #4DCEC5
// green
emerald        = #35CE68
malachite      = #08b442
// orange
texas-rose     = #FFAE5F
// red
your-pink      = #FDCBCB
pomegranate    = #F52D2D
monza          = #DD0505
// purple
portage        = #9169F2
