/*!
 * PALETTE / COLORS
 * ================
 *
 * This file contains colors declarations and tools.
 */

// defaults
black = #000
white = #fff

// 50 (well, in fact, mostly 8) shades of grey
grey-01 = #EAEEF2
grey-02 = #DDE6EF
grey-03 = #C8D5DF
grey-04 = #ACB8C5
grey-05 = #92A0B2
grey-06 = #748192
grey-07 = #4F5B69
grey-08 = #32363F
grey-09 = #d6d8da
grey-10 = #f5f6f7
grey-11 = #95999d

// more of cozy UI
blue        = #33A6FF
dodger-blue = #297ef2
turquoise   = #4DCEC5
green       = #16D943
orange      = #FFAE5F
red         = #FF3713
purple      = #9169F2

