/*------------------------------------*\
  Z-Index
  ================

  This file contains every z-index related to components
  in order to keep a clean & maintainable order of indexes

  Please, edit this file properly, with a 10 based incrementation,
  and keep things in order so it remains easily readable.

  How to use: just import this file in your component's style and call
  the related variable
  e.g.
  .my-app
      z-index  $app-index
\*------------------------------------*/

$below-index        = -1
$app-index          = 0
$alert-index-mobile = 10
$bar-index          = 20 // Not actually used, just as reference
$nav-index          = 20
$selection-index    = 30
$popover-index      = 40
$overlay            = 50
$file-action-menu   = 60
$modal-index        = 60
$alert-index        = 70
