{
  "presets": [
    "cozy-app"
  ],
  "plugins": [
    ["transform-runtime", { "polyfill": false }]
  ],
  "env": {
    "transpilation": {
      "plugins": [
        ["css-modules-transform", {
          "extensions": [".styl"],
          "preprocessCss": "./preprocess",
          "importPathFormatter": "./scripts/importPathFormatter",
          "extractCss": {
              "dir": "./transpiled/react/",
              "relativeRoot": "./react/",
              "filename": "[path]/[name].css"
          },
          "generateScopedName": "[name]__[local]___[hash:base64:5]",
          "keepImport": true
        }]
      ]
    }
  },
  "ignore": ["examples/**/*"]
}
