test
build

.editorconfig
.eslintignore
.eslintrc.json
.stylintrc
.travis.yml
renovate.json
yarn.lock

.changelog
examples
docs
coverage
loaders
.github/

# Do not ship postcss.config.js in the npm package otherwise
# parcel will try to use it if it is present.
# Since parcel users will use the transpiled version of cozy-ui
# that has already been processed by postcss, it is not necessary.
postcss.config.js

screenshots/
