language: node_js
node_js:
  - 10
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn lint
  - yarn build
  - yarn build:css:all
  - yarn build:doc:react
  - yarn build:doc:kss
  - yarn test
  - mkdir ./screenshots
  - yarn screenshots --mode react --viewport desktop --screenshot-dir ./screenshots/reactDesktop
  - yarn screenshots --mode react --viewport 300x600 --screenshot-dir ./screenshots/reactMobile
  - yarn screenshots --mode kss --screenshot-dir ./screenshots/kss
  - yarn argos:upload screenshots/reactDesktop/ --token $ARGOS_TOKEN --branch $TRAVIS_BRANCH --commit $TRAVIS_COMMIT --batchCount 4 --external-build-id $TRAVIS_COMMIT
  - yarn argos:upload screenshots/reactMobile/ --token $ARGOS_TOKEN --branch $TRAVIS_BRANCH --commit $TRAVIS_COMMIT --batchCount 4 --external-build-id $TRAVIS_COMMIT
  - yarn argos:upload screenshots/kss/ --token $ARGOS_TOKEN --branch $TRAVIS_BRANCH --commit $TRAVIS_COMMIT --batchCount 4 --external-build-id $TRAVIS_COMMIT
deploy:
  - provider: script
    repo: cozy/cozy-ui
    skip-cleanup: true
    script: yarn deploy:doc -- --username cozycloud --email contact@cozycloud.cc --repo https://cozy-bot:$GH_TOKEN@github.com/cozy/cozy-ui.git && yarn semantic-release
    on:
      branch: master
