@require '../../stylus/components/forms'

.c-input-text
    @extend $input-text

.c-input-text--tiny
    @extend $input-text--tiny

.c-input-text--medium
    @extend $input-text--medium

.c-input-text--large
    @extend $input-text--large

.c-input-text--fullwidth
    @extend $input-text--fullwidth
