.Sections 
    margin 2rem .5rem 0 2rem
    margin-left 1rem
    margin-right 1rem

.Sections__subtitle 
    margin-top 1.5rem
    margin-bottom 1rem

.Sections__subsubtitle 
    font-size 13px
    color var(--coolGrey)
    text-transform uppercase

.Sections__section 
    margin-bottom 4rem

@media (max-width: 48rem) 
  .Sections
      margin-left  1rem
      margin-right 1rem

