.Sections__subtitle
    margin-top 1.5rem
    margin-bottom 1rem

.Sections__subsubtitle
    font-size 13px
    color var(--coolGrey)
    text-transform uppercase

.Sections__section
    margin-bottom 4rem


