
palette=json('../../../theme/palette.json', { hash: true })

// @stylint off

// root variables are deprecated.
// Prefer to use directly semantic colors below.
:root
    --invertedBackgroundColor palette.Primary['600']
    --invertedContrastTextColor palette.Common['white']

.CozyTheme--inverted
    --primaryTextColor palette.Common['white']
    --secondaryTextColor alpha(palette.Common['white'], 0.64)
    --disabledTextColor alpha(palette.Common['white'], 0.4)
    --hintTextColor alpha(palette.Common['white'], 0.4)
    --iconTextColor palette.Common['white']

    --actionColorActive palette.Common['white']
    --actionColorHover alpha(palette.Common['white'], 0.08)
    --actionColorSelected alpha(palette.Common['white'], 0.16)
    --actionColorDisabled alpha(palette.Common['white'], 0.32)
    --actionColorDisabledBackground alpha(palette.Common['white'], 0.12)
    --actionColorFocus alpha(palette.Common['white'], 0.24)
    --actionColorGhost alpha(palette.Common['white'], 0.08)
    --actionColorHoverGhost alpha(palette.Common['white'], 0.16)

    --dividerColor alpha(palette.Common['white'], 0.16)

    --borderMainColor alpha(palette.Common['white'], 0.24)
    --borderDisabledColor alpha(palette.Common['white'], 0.12)
    --borderGhostColor alpha(palette.Common['white'], 0.48)
    --borderGhostDisabledColor alpha(palette.Common['white'], 0.24)

    --paperBackgroundColor palette.Primary['600']
    --defaultBackgroundColor palette.Primary['500']

    --primaryColorLight palette.Common['white']
    --primaryColor palette.Common['white']
    --primaryColorDark palette.Primary['100']
    --primaryContrastTextColor palette.Primary['600']

    --secondaryColorLight palette.Secondary['100']
    --secondaryColor palette.Secondary['200']
    --secondaryColorDark palette.Secondary['300']
    --secondaryContrastTextColor alpha(palette.Grey['900'], 0.9)

    --errorColorLight palette.Error['100']
    --errorColor palette.Error['200']
    --errorColorDark palette.Error['300']
    --errorColorContrastText alpha(palette.Grey['900'], 0.9)
    --errorBackground palette.Error['700']

    --warningColorLight palette.Warning['100']
    --warningColor palette.Warning['200']
    --warningColorDark palette.Warning['300']
    --warningColorContrastText alpha(palette.Grey['900'], 0.9)

    --successColorLight palette.Success['100']
    --successColor palette.Success['200']
    --successColorDark palette.Success['300']
    --successColorContrastText alpha(palette.Grey['900'], 0.9)

    --infoColorLight palette.Info['100']
    --infoColor palette.Info['200']
    --infoColorDark palette.Info['300']
    --infoColorContrastText alpha(palette.Grey['900'], 0.9)

    /*
    The CSS variables below are historic and we should strive not to
    use them. Prefer to use directly semantic colors above.
    */
    --iconColor var(--secondaryTextColor)
    --textIconColor palette.Common['white']
    --barIconColor palette.Common['white']
    --barIconColorDisabled rgba(255, 255, 255, 0.88)

    --spinnerColor palette.Common['white']
    --linkColor palette.Common['white']
    --linkColorActive palette.Common['white']
    --linkTextDecoration underline

    --regularButtonPrimaryColor palette.Common['white']
    --regularButtonSecondaryColor palette.Common['white']
    --regularButtonActiveColor rgba(255, 255, 255, 0.88)
    --regularButtonConstrastColor palette.Primary['600']

    --secondaryButtonPrimaryColor palette.Primary['600']
    --secondaryButtonSecondaryColor palette.Common['white']
    --secondaryButtonActiveColor rgba(255, 255, 255, 0.24)
    --secondaryButtonContrastColor palette.Common['white']

    --dividerColor2: rgba(255, 255, 255, 0.16)
// @stylint on
