@require '../../stylus/components/action-menu'

.c-actionmenu
    @extends $actionmenu

.c-actionmenu-header
    @extends $actionmenu-header

.c-actionmenu-header-icon
    @extends $actionmenu-header-icon

.c-actionmenu-header-text
    @extends $actionmenu-header-text

.c-actionmenu-header-filename
    @extends $actionmenu-header-filename

.c-actionmenu-item
    @extends $actionmenu-item
