@require 'settings/breakpoints'

.FigureBlock
    color var(--primaryTextColor)

.FigureBlock-figure
    font-size 2rem
    line-height 2.625rem

+small-screen()
    .FigureBlock
        font-size .7em
