.Modal__back
    cursor pointer
    margin-right 0.5rem
    margin-left -0.25rem
    font-size 1.5rem
    line-height 0

    // Need to cancel the height of the icon button
    // that expands the height of the modal header
    // too much
    margin-bottom -1rem
    position relative
    top -0.5rem

.search-container--without-title
    margin-right 5rem
    margin-top 0.5rem
