.Row
    padding-left 0.5rem
    padding-right 0.5rem
    border-bottom 1px solid var(--silver)

    &:hover
        background-color var(--paleGrey)
        cursor pointer

    &:last-child
        border-bottom 0

.Modal__title
    border-bottom 1px solid var(--silver)
    margin-bottom 0

.Modal__content
    padding 0

.Modal__back
    cursor pointer
    margin-right 1.25rem
    margin-left -0.25rem
    font-size 1.5rem

.Radio
    margin-bottom 0
    min-height 1rem
    width 1rem

.Divider
    border-bottom 1px solid var(--silver)
    height .5rem
