@require '../../stylus/settings/spaces'
@require '../../stylus/tools/mixins'

.c-DropdownButton
    display inline-flex
    align-items center
    background none
    border 0
    cursor pointer
    padding spacing_values.xs spacing_values.m
    color var(--primaryTextColor)

.c-DropdownButton-Icon
    color var(--iconTextColor)
    margin-top rem(4)
    margin-left rem(4)