@require 'settings/breakpoints'
@require 'tools/mixins'

.intentModal
    height 90vh

    // takes 100% of the screen on mobile
    +small-screen()
        height 100%
        width 100%

    // child takes all height
    & > div
        height 100%

        // cozy-collect resizes this element with a max-width of 931px
        // they will remove it as it is a bug on their part. Then
        // we can remove this code
        max-width unset !important

    .intentModal__cross
        top rem(4)
        right rem(8)
