@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/button'

.coz-btn
    @extend $button

.coz-btn--regular
    @extend $button--regular

.coz-btn--secondary
    @extend $button--secondary

.coz-btn--danger
    @extend $button--danger

.coz-btn--danger-outline
    @extend $button--danger-outline

.coz-btn--highlight
    @extend $button--highlight
