@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/button'

.coz-btn
    @extends .c-btn

.coz-btn--regular
    @extends .c-btn--regular

.coz-btn--secondary
    @extends .c-btn--secondary

.coz-btn--danger
    @extend .c-btn--danger

.coz-btn--danger-outline
    @extend .c-btn--danger-outline

.coz-btn--highlight
    @extend .c-btn--highlight
