@require 'settings/breakpoints'
@require 'settings/spaces'

.ContactsListModal__addContactContainer
    display flex
    justify-content center
    margin-bottom spacing_values.m
    margin 0 spacing_values.xs spacing_values.m

    +small-screen()
        > *
            flex 1
