@require 'tools/mixins'
@require 'settings/spaces'
@require 'settings/z-index'
@require 'generic/animations'

.with-transition
    @extends $with-transition

.BottomDrawer-content
    z-index        $drawer-index
    position       fixed
    bottom         rem(9)
    bottom         env(safe-area-inset-bottom) // @stylint ignore
    left           0
    width          'calc(100% - %s)' % (spacing_values.m * 2)
    margin         0 spacing_values.m
    padding-bottom rem(5)
    box-sizing border-box
