@import '../../stylus/components/empty'

.c-empty
    @extend $empty

.c-empty-container
    display flex
    flex-direction column
    justify-content center
    flex 1 0 auto
    align-self center
    padding rem(16) 0
    text-align center
    max-width 100%

.c-empty-img
    @extend $empty-img

.c-empty-title
    @extend $empty-title

.c-empty-text
    @extend $empty-text
