@import '../../stylus/components/empty'

.c-empty
    @extend $empty

.c-empty--centered
    @extend $empty--centered

.c-empty-img
    @extend $empty-img

.c-empty-img--medium
    @extend $empty-img--medium

.c-empty-img--large
    @extend $empty-img--large

.c-empty-title
    @extend $empty-title

.c-empty-text
    @extend $empty-text
