@import '../../stylus/settings/palette'
@import '../../stylus/settings/icons'

.c-spinner
    display inline-block
    margin 0 .5rem

    &:before
        content ''

    p
        margin-top  .9375rem
        color       coolGrey
        line-height 1.5

// === Modifiers ===

// Box-model
.c-spinner--middle
    position   absolute
    top        50%
    left       50%
    transform  translateX(-50%) translateY(-50%)
    text-align  center

    &:before
        display     block
        margin      0 auto

.c-spinner--nomargin
    margin 0

// Colors
.c-spinner--blue:before
    @extend $icon-spinner-blue

.c-spinner--grey:before
    @extend $icon-spinner-grey

.c-spinner--white:before
    @extend $icon-spinner-white

.c-spinner--red:before
    @extend $icon-spinner-red

// Sizes
.c-spinner--tiny:before
    @extend $icon-8

.c-spinner--small:before
    @extend $icon-12

.c-spinner--medium:before
    @extend $icon-16

.c-spinner--large:before
    @extend $icon-24

.c-spinner--xlarge:before
    @extend $icon-36

.c-spinner--xxlarge:before
    @extend $icon-80
