/*!
 * Boxes
 * =====
 *
 * Tools to deal with boxes / blocks.
 */

/*!
 * Hide / Unhide rules, proudly extracted from
 * https://github.com/Switch-Company/chouchenn/blob/master/lib/chouchenn/addons/hide.styl
 * (thank you so much!)
 */
// Hide only visually, but have it available for screenreaders
hide()
    border: 0
    clip: rect( 0 0 0 0 )
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px


unhide()
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto


[aria-hidden=true]
    hide()
