/*!
 * SPACERS
 * =======
 *
 * Contains all tools for spacing / padding on elements.
 */

top-padded(n = 1em)
    padding-top em(n)

bottom-padded(n)
    padding-bottom em(n)

left-padded(n)
    padding-left em(n)

right-padded(n)
    padding-right em(n)

vertically-padded(n)
    padding em(n) 0

horizontally-padded(n)
    padding 0 em(n)
