/*!
 * SPACERS
 * =======
 *
 * Contains all tools for spacing / padding on elements.
 */

top-padded(n)
    n ?= 1em
    padding-top n

bottom-padded(n)
    n ?= 1em
    padding-bottom n

left-padded(n)
    n ?= 1em
    padding-left n

right-padded(n)
    n ?= 1em
    padding-right n

vertically-padded(n)
    n ?= 1em
    padding n 0

horizontally-padded(n)
    n ?= 1em
    padding 0 n
