@require 'settings/icons.styl'

.icon
    fill var(--iconColor)
    // Fix blurry icons on Firefox
    transform translateZ(0)

.icon--preserveColor
    fill inherit

.icon--spin
    @extend $icon-spin
