/*!
 * APP DEFAULTS
 * ============
 *
 * This file is only in use to load in relevant order the defaults contents for
 * the application to reset its styles.
 */

@import 'layouts'
@import 'backgrounds'
@import 'foregrounds'
@import 'forms'
