@require '../../stylus/components/circle.styl'

.c-circle
    @extend $circle

.c-circle--xsmall
    @extend $circle--xsmall

.c-circle--small
    @extend $circle--small

.c-circle--large
    @extend $circle--large

.c-circle--xlarge
    @extend $circle--xlarge

.c-circle-text
    @extend $circle-text
