iframe
    width 100%
    height 100%
    border 0


.intentIframe
    height 100%
    width 100%
    display flex
    justify-content center
    align-items center


.intentIframe__error
    color red
    font-size 1.5em
