@require 'settings/palette'
@require 'settings/breakpoints'
@require 'settings/spaces'

.InfosCarrousel
    position relative

    &.InfosCarrousel--primary .InfosCarrousel-arrow,
    &.InfosCarrousel--secondary .InfosCarrousel-arrow
        color var(--coolGrey)

    &.InfosCarrousel--danger .InfosCarrousel-arrow
        color var(--pomegranate)

.InfosCarrousel-navigation
    position absolute
    bottom (spacing_values.xs)
    right (spacing_values.xs)
    display flex
    align-items center

    +mobile()
        bottom rem(4)
        right rem(4)

.InfosCarrousel-arrow
    background none
    border 0
    cursor pointer

    &:disabled
        opacity .24
        cursor default

.InfosCarrousel-separator
    border-left 1px solid var(--silver)
    height rem(16)
    margin 0 (spacing_values.xs)

