@require 'settings/palette'
@require 'settings/breakpoints'

.InfosCarrousel
    position relative

    &.InfosCarrousel--primary .InfosCarrousel-arrow,
    &.InfosCarrousel--secondary .InfosCarrousel-arrow
        color var(--coolGrey)

    &.InfosCarrousel--danger .InfosCarrousel-arrow
        color var(--pomegranate)

.InfosCarrousel-navigation
    position absolute
    bottom 10px
    right 8px
    display flex
    align-items center

    +mobile()
        bottom 4px
        right 0

.InfosCarrousel-arrow
    background none
    border 0
    min-width 32px
    padding 16px

    &:disabled
        opacity .24

.InfosCarrousel-separator
    border-left 1px solid var(--silver)
    height 1rem
