@require '../../stylus/components/forms'

.c-textarea
    @extend $textarea

.c-textarea--tiny
    @extend $textarea--tiny

.c-textarea--medium
    @extend $textarea--medium

.c-textarea--fullwidth
    @extend $textarea--fullwidth
