/*!
 * NOTIFICATIONS
 * =============
 *
 * This file contains all needs for alerts
 */

$alerts
    alert-width = em(480px)
    .coz-alert
        display          block
        z-index          5
        position         fixed
        bottom           50px
        left             0
        right            0
        background-color emerald
        box-shadow       0 em(6px) em(18px) 0 rgba(50, 54, 63, .23)
        box-sizing       border-box
        padded           .8em, 1em
        color            white
        opacity          1
        transition       bottom .5s ease-out, top .5s ease-out, opacity .2s ease-out
        cursor           pointer

        p
            margin      0
            line-height 1.5

        .coz-alert-title
            font-weight bold

        &.coz-alert--hidden
            bottom                     -25%
            opacity                    0
            transition-timing-function ease-in

    .coz-alert--error
        background-color pomegranate

    .coz-alert--success
        background-color emerald

    .coz-alert--info
        background-color grey-12


    @media all and (min-width alert-width)
        .coz-alert
            z-index       100
            top           em(16px)
            bottom        auto
            left          50%
            margin-left   -(alert-width / 2)
            max-width     alert-width
            padded        1em, 1.5em
            width         100%
            border-radius em(10px)

            &.coz-alert--hidden
                top -25%
