// Buttons of any kind
$button
    box-sizing       border-box
    display          inline-block
    vertical-align   top
    margin           0 em(8px)
    border           1px solid grey-09
    height           em(43px)
    padding          em(11px) em(15px) em(10px)
    background-color white
    font-size(14px)
    text-transform   uppercase

$button--regular
    border-color     dodger-blue
    background-color dodger-blue
    color            white

$button--upload
    padding-left        em(44px, 16px)
    background-image    embedurl("../assets/icons/icon-upload.svg")
    background-position em(17px, 16px) center
    background-repeat   no-repeat

$button--more
    width      em(46px)
    background embedurl("../assets/icons/icon-dots.svg") center center no-repeat

