
@import '../ui-base/icons'

// Buttons of any kind
$button
    box-sizing       border-box
    display          inline-block
    vertical-align   top
    margin           0 em(8px)
    border           1px solid grey-09
    height           em(43px)
    padding          em(11px) em(15px) em(10px)
    background-color white
    font-size(14px)
    text-transform   uppercase

    &[disabled]
    &[aria-disabled=true]
        opacity .5
        cursor  default

$button--regular
    border-color     dodger-blue
    background-color dodger-blue
    color            white

$button--upload
    padding-left        em(44px, 16px)
    background-image    embedurl('../assets/icons/ui/icon-upload.svg')
    background-position em(17px, 16px) center
    background-repeat   no-repeat

$button--more
    width      em(46px)
    background embedurl('../assets/icons/ui/icon-dots.svg') center center no-repeat

$button--close
    width      em(46px)
    background embedurl("../assets/icons/ui/icon-cross.svg") center center no-repeat
    border     none

// Button in alert
$button--alert-error
    color         pomegranate
    border        0
    font-weight   bold
    margin        .5rem 0 0
    padding       .5rem 1rem
    height        auto
    border-radius em(3px)

    &:hover
        color darken(pomegranate, 25%)

$button--alert-info
    color               white
    background-color    grey-11
    border              0
    font-weight         bold
    margin              .5rem 0 0
    padding             .5rem 1rem
    height              auto
    border-radius       em(3px)

    &:hover
        color darken(white, 10%)

$button--alert-success
    color         emerald
    border        0
    font-weight   bold
    margin        .5rem 0 0
    padding       .5rem 1rem
    height        auto
    border-radius em(3px)

    &:hover
        color darken(emerald, 25%)

$buttons
    [role=button],
    button
        // mutualize behavior between button and a
        box-sizing        border-box
        border            0
        display           block
        padding           .9em .75em
        min-height        em(30px)
        border-radius     3px
        font-family       Lato, sans-serif
        text-align        center
        text-transform    uppercase
        text-decoration   none
        cursor            pointer

        &.primary
            background-color  dodger-blue
            color             white
            &:active
            &:hover
                background-color    science-blue

        &.secondary
            background-color  white
            color             black
            border            1px solid grey-09
            &:active
            &:hover
                background-color    grey-09

        &.danger
            background-color  pomegranate
            color             white
            &:active
            &:hover
                background-color    monza

        &.danger-outline
            background-color  white
            color             pomegranate
            border            1px solid your-pink
            &:active
            &:hover
                background-color    your-pink

        &.hightlight
            background-color  emerald
            color             white
            &:active
            &:hover
                background-color    malachite


        &[disabled]
        &[aria-disabled=true]
            opacity .5
            cursor  default

        &[aria-busy=true]
            position relative

            &::after
                position     static
                width        em(16px)
                height       em(16px)
                margin-left  em(8px)
                margin-right em(-24px)
                @extend      $icon-spinner-white
