@import '../ui-app/layouts'

/*------------------------------------*\
  Dialog
\*------------------------------------*/

$dialog
    @extend     $fullbleed
    overflow-x  hidden
    overflow-y  auto
    z-index     100


    [role=separator]
        @extend  $fullbleed
        z-index  1


    .wrapper
        @extend     $content-center
        box-sizing  border-box
        min-height  100vh
        padding     3em 1em


    [role=contentinfo]
        display     flex
        flex        0 1 (960/basefont)rem
        position    relative
        z-index     2
        box-sizing  border-box
        background-color  white
        border            em(1px) solid grey-01
        border-radius     em(5px)
        box-shadow        0 1px 3px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)

        @media (max-width: (800/basefont)rem)
            flex-direction  column
            height          90vh



$alertdialog
    @extend $dialog

    [role=contentinfo]
        flex-direction  column
        flex-basis      (420/basefont)rem
        padded          20px
        transform       translateY(calc((50vh + 55%) * -1))
        transition      transform 400ms ease-out


    &[aria-busy=true] [role=contentinfo]
        transform  translateY(-50%)


    .actions
        display         flex
        flex-direction  row-reverse

        li
            flex  1

            &:not(:first-child)
                margin-right  10px

        button
        [role=button]
            width  100%
