/*!
 * NOTIFICATIONS
 * =============
 *
 * This file contains all needs for modals
 */


$modals
    modal-width = em(480px)
    .coz-modal
        z-index 100

    .coz-overlay
        z-index    1100
        position   absolute
        top        0
        left       0
        height     100%
        width      100%
        background rgba(grey-08, .5)
        visibility visible
        transition opacity .3s, visibility 0s ease-out

        &.coz-overlay--hidden
            opacity    0
            visibility hidden
            transition opacity .3s 0s, visibility 0s ease-in .3s


    .coz-modal
        position         fixed
        top              50%
        left             50%
        display          block
        box-sizing       border-box
        width            90%
        height           auto
        padding          1em 1.5em
        border-radius    em(8px)
        background-color white
        color            grey-08
        transform        translateX(-50%) translateY(-50%)

        .coz-modal-title
            font-weight bold
            margin 0.33em 0 1em

        .coz-btn-modal-close
            position        absolute
            top             1.3em
            right           1em
            margin  0
            padding 0
            background-size 2em
            cursor          pointer

        .coz-modal-buttons
            @extends $buttons
            top-spaced(2em)
            text-align      right

            button
                display     inline-block
                font-size   .9em
                left-spaced(10px)

        &.coz-modal--hidden
            top                        -25%
            opacity                    0
            transition-timing-function ease-in


    @media all and (min-width modal-width)
        .coz-modal
            max-width   modal-width
            width       100%
