@require 'tools/mixins'
@require 'settings/spaces'
@require 'settings/breakpoints'
@require 'generic/animations'

.with-transition
    @extends $transition-transform-ease-out

.BottomDrawer-content
    z-index var(--zIndex-drawer)
    position fixed
    bottom 0
    left 0
    right 0
    width 100%
    margin 0
    max-height 100vh
    overflow-y auto
