@require 'settings/breakpoints.styl'
@require 'tools/mixins'
@require 'settings/spaces.styl'

.Hero
    margin-left auto
    margin-right auto

    &-title
        text-align center
        margin rem(48) 0

    &-subtitle
        margin-bottom 0

        +small-screen()
            margin-top rem(8)

    p
        line-height 1.25

    &-sections
        display flex
        justify-content space-around

        +small-screen()
            flex-direction column
            align-items center

    &-section
        max-width rem(300)
        text-align center
        flex-grow 1
        flex-basis 100%

        +small-screen()
            max-width auto
            margin-bottom rem(32)

    &-section + &-section
        margin-left spacing_values.xl

        +small-screen()
            margin-left 0

    &-cta
        text-align center
        max-width 32rem
        margin-left auto
        margin-right auto
        margin-top spacing_values.xl
