@require 'settings/breakpoints.styl'

.Hero
    margin-left auto
    margin-right auto

    &-title
        text-align center
        margin 3rem 0

    &-subtitle
        margin-bottom 0

        +small-screen()
            margin-top .5rem

    p
        line-height 1.25

    &-sections
        display flex
        justify-content space-around

        +small-screen()
            flex-direction column
            align-items center

    &-section
        max-width 18.75rem
        text-align center

        +small-screen()
            max-width auto
            margin-bottom 2rem

    &-cta
        text-align center
