@require 'tools/mixins'

.infos
  max-width: rem(524)
  min-height: rem(56)
  background var(--paleGrey)
  display flex
  align-items center
  border-radius rem(8)

.infos--icon
  width rem(16)
  height rem(16)
  padding-top .2rem
  flex-shrink 0
  fill var(--slateGrey)

.infos--text
  text-align left

.infos--container
  display flex
