@require 'tools/mixins'
@require 'settings/spaces'

.Infos
    border-radius 4px
    max-width 32rem
    display flex
    flex-direction column
    justify-content center
    text-align left
    padding 1rem
    min-height 2rem

.Infos__icon
    padding-top .2rem
    fill var(--slateGrey)
