radius = 4px

.PercentageBar
    background-color var(--paleGrey)
    border 1px solid var(--silver)
    height 1.5rem
    border-radius radius

    .PercentageBar__line
        height 100%
        border-radius radius
