@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/alerts'
@require '../../stylus/components/button'

.c-alert
    @extend $alert

.c-alert--hidden
    @extend $alert--hidden

.c-alert-wrapper
    @extend $alert-wrapper

.c-alert--error
    @extend $alert--error

.c-alert--success
    @extend $alert--success

.c-alert--info
    @extend $alert--info

.c-btn
    @extend $button

.c-btn--alert-error
    @extend $button-alert--error

.c-btn--alert-info
    @extend $button-alert--info

.c-btn--alert-success
    @extend $button-alert--success

