@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/alerts'

.coz-alerter
    @extends $alerts

.coz-btn
    @extends .c-btn

.coz-btn--alert-error
    @extends .c-btn-alert--error

.coz-btn--alert-info
    @extends .c-btn-alert--info

.coz-btn--alert-success
    @extends .c-btn-alert--success

