@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/accordion'


.c-accordion
    @extend $accordion

.c-accordion-item
    @extend $accordion-item

.c-accordion-title
    @extend $accordion-title

    &.is-active
        @extend $accordion-title--active

.c-accordion-body
    @extend $accordion-body

    &.is-active
        @extend $accordion-body--active
