@require 'components/action-menu'

.c-actionmenu
    @extends $actionmenu

.c-actionmenu--inline
    @extends $actionmenu--inline

.c-actionmenu-header
    @extends $actionmenu-header

.c-actionmenu-item
    @extends $actionmenu-item

.c-actionmenu-radio
    @extends $actionmenu-radio

