/*  imported from styles.styl  */

.styles__icon--spin___ybfC1 {
  animation: styles__spin___2Vvw3 1s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .styles__icon--spin___ybfC1 {
    animation: none;
  }
}
@-moz-keyframes styles__spin___2Vvw3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes styles__spin___2Vvw3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-o-keyframes styles__spin___2Vvw3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes styles__spin___2Vvw3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-moz-keyframes styles__shake___wT_3z {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes styles__shake___wT_3z {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-o-keyframes styles__shake___wT_3z {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes styles__shake___wT_3z {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.styles__icon___23x3R {
  fill: currentColor;
  transform: translateZ(0);
}
.styles__icon--preserveColor___3gBz6 {
  fill: inherit;
}
/*  imported from styles.styl  */

html {
  --primaryFont: Lato, sans-serif;
}
body,
body button,
body input,
body optgroup,
body select,
body textarea {
  font-family: var(--primaryFont);
}
:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}
html {
  font-size: 100%;
  height: 100%;
}
body {
  font: 100%/1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  margin: 0;
}
@media (max-width: 63.938rem) {
  html,
  body {
    display: block;
    height: auto;
  }
}
[role=application] {
  display: flex;
  height: inherit;
  flex: 1 1 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 63.938rem) {
  [role=application] {
    overflow: visible;
  }
}
[data-input=radio],
[data-input=checkbox] {
  display: flex;
}
[data-input=radio] input[type=radio],
[data-input=checkbox] input[type=radio],
[data-input=radio] input[type=checkbox],
[data-input=checkbox] input[type=checkbox] {
  display: none !important;
  visibility: hidden !important;
}
[data-input=radio] label,
[data-input=checkbox] label {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: 1.4rem;
  cursor: pointer;
}
[data-input=radio] label::before,
[data-input=checkbox] label::before,
[data-input=radio] label::after,
[data-input=checkbox] label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
}
[data-input=radio] label::before,
[data-input=checkbox] label::before {
  transition: box-shadow 350ms cubic-bezier(0, 0.89, 0.44, 1);
}
[data-input=radio] label::after,
[data-input=checkbox] label::after {
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
@media (max-width: 48rem) {
}
@media (max-width: 48rem) {
}
[data-input=radio] label::before {
  border-radius: 50%;
  border: 0.125rem solid var(--coolGrey);
  box-shadow: inset 0 0 0 1rem transparent;
}
[data-input=radio] input[type=radio]:checked + label::before {
  box-shadow: inset 0 0 0 0.188rem var(--paleGrey), inset 0 0 0 1rem var(--dodgerBlue);
}
[data-input=checkbox] label::before,
[data-input=checkbox] label::after {
  border-radius: 0.125rem;
}
[data-input=checkbox] label::before {
  background-color: var(--white);
  box-shadow: inset 0 0 0 0.125rem var(--silver);
}
[data-input=checkbox] label::before:hover {
  box-shadow: inset 0 0 0 0.125rem var(--dodgerBlue);
}
[data-input=checkbox] label::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIHZpZXdCb3g9JzAgMCAyMCAyMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KICAgIDxwYXRoIGQ9J00zIDEwLjAxOWw0LjUyMyA0LjUyMyA5LjU0MS05LjU0MScgc3Ryb2tlPScjRkZGJyBzdHJva2Utd2lkdGg9JzInIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
  background-size: contain;
}
[data-input=checkbox][aria-checked='mixed'] label::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBkPSJNMy40OTcgMTBoMTMuMDA2IiBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMiIgLz48L3N2Zz4K");
  background-size: contain;
}
[data-input=checkbox] input[type=checkbox]:checked + label::before {
  box-shadow: inset 0 0 0 1rem var(--dodgerBlue);
}
[data-input=checkbox] input[type=checkbox]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}
[data-input=checkbox] input[type=checkbox]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
.styles__intentWrapper___1ZMvW {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
@media (max-width: 63.938rem) {
}
@media (max-width: 63.938rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 30rem) {
}
.styles__intentWrapper___1ZMvW {
  position: relative;
  border-radius: 0.5rem;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--paperBackgroundColor);
  color: var(--primaryTextColor);
}
@media (max-width: 25rem) {
}
@media (max-width: 35rem) {
}
@media (max-width: 39rem) {
}
@media (max-width: 46rem) {
}
@media (max-width: 56rem) {
}
@media (max-width: 66rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 30rem) {
}
@media (max-width: 48rem) {
}
@media (max-width: 48rem) {
}
.styles__intentWrapper___1ZMvW .styles__intentHeader___3TDUp {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  margin: 0;
}
.styles__intentWrapper___1ZMvW .styles__intentContent___1ilx7 [class^='c-header-icon--ghost'] {
  margin: 0;
}
/*  imported from styles.styl  */

@-moz-keyframes styles__spin___1fJIg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes styles__spin___1fJIg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-o-keyframes styles__spin___1fJIg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes styles__spin___1fJIg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-moz-keyframes styles__shake___gVu0K {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes styles__shake___gVu0K {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-o-keyframes styles__shake___gVu0K {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes styles__shake___gVu0K {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media (pointer: coarse) {
}
html {
  --primaryFont: Lato, sans-serif;
}
body,
body button,
body input,
body optgroup,
body select,
body textarea {
  font-family: var(--primaryFont);
}
:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}
html {
  font-size: 100%;
  height: 100%;
}
body {
  font: 100%/1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  margin: 0;
}
@media (max-width: 63.938rem) {
  html,
  body {
    display: block;
    height: auto;
  }
}
[role=application] {
  display: flex;
  height: inherit;
  flex: 1 1 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 63.938rem) {
  [role=application] {
    overflow: visible;
  }
}
[data-input=radio],
[data-input=checkbox] {
  display: flex;
}
[data-input=radio] input[type=radio],
[data-input=checkbox] input[type=radio],
[data-input=radio] input[type=checkbox],
[data-input=checkbox] input[type=checkbox] {
  display: none !important;
  visibility: hidden !important;
}
[data-input=radio] label,
[data-input=checkbox] label {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: 1.4rem;
  cursor: pointer;
}
[data-input=radio] label::before,
[data-input=checkbox] label::before,
[data-input=radio] label::after,
[data-input=checkbox] label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
}
[data-input=radio] label::before,
[data-input=checkbox] label::before {
  transition: box-shadow 350ms cubic-bezier(0, 0.89, 0.44, 1);
}
[data-input=radio] label::after,
[data-input=checkbox] label::after {
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
@media (max-width: 48rem) {
}
@media (max-width: 48rem) {
}
[data-input=radio] label::before {
  border-radius: 50%;
  border: 0.125rem solid var(--coolGrey);
  box-shadow: inset 0 0 0 1rem transparent;
}
[data-input=radio] input[type=radio]:checked + label::before {
  box-shadow: inset 0 0 0 0.188rem var(--paleGrey), inset 0 0 0 1rem var(--dodgerBlue);
}
[data-input=checkbox] label::before,
[data-input=checkbox] label::after {
  border-radius: 0.125rem;
}
[data-input=checkbox] label::before {
  background-color: var(--white);
  box-shadow: inset 0 0 0 0.125rem var(--silver);
}
[data-input=checkbox] label::before:hover {
  box-shadow: inset 0 0 0 0.125rem var(--dodgerBlue);
}
[data-input=checkbox] label::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIHZpZXdCb3g9JzAgMCAyMCAyMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KICAgIDxwYXRoIGQ9J00zIDEwLjAxOWw0LjUyMyA0LjUyMyA5LjU0MS05LjU0MScgc3Ryb2tlPScjRkZGJyBzdHJva2Utd2lkdGg9JzInIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
  background-size: contain;
}
[data-input=checkbox][aria-checked='mixed'] label::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBkPSJNMy40OTcgMTBoMTMuMDA2IiBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMiIgLz48L3N2Zz4K");
  background-size: contain;
}
[data-input=checkbox] input[type=checkbox]:checked + label::before {
  box-shadow: inset 0 0 0 1rem var(--dodgerBlue);
}
[data-input=checkbox] input[type=checkbox]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}
[data-input=checkbox] input[type=checkbox]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
.styles__c-modal___dljYk {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.styles__c-modal-content___22N4k {
  background-repeat: no-repeat;
  background-color: var(--paperBackgroundColor);
  background-size: 100% 2rem, 100% 2rem, 100% 0.5rem, 100% 0.5rem;
  background-attachment: local, local, scroll, scroll;
  background-clip: padding-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.styles__c-modal-header___38uqi,
.styles__c-modal-header--branded___17z1P,
.styles__c-modal-footer___3JCxm {
  flex: 0 0 auto;
}
@media (max-width: 63.938rem) {
}
@media (max-width: 63.938rem) {
}
.styles__c-modal-container___1AAl5 {
  position: relative;
  z-index: var(--zIndex-modal);
}
.styles__c-modal-wrapper___y79-C {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  padding: 3rem;
}
@media (max-width: 48rem) {
  .styles__c-modal-wrapper___y79-C {
    justify-content: center;
    padding: 1.5rem;
  }
}
@media (max-width: 30rem) {
  .styles__c-modal-wrapper___y79-C {
    padding: 0.5rem;
  }
}
.styles__c-modal___dljYk {
  position: relative;
  border-radius: 0.5rem;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--paperBackgroundColor);
  color: var(--primaryTextColor);
}
.styles__c-modal--xsmall___VxVzh {
  width: 24rem;
}
@media (max-width: 25rem) {
  .styles__c-modal--xsmall___VxVzh {
    width: 100%;
  }
}
.styles__c-modal--small___3xSfG {
  width: 34rem;
}
@media (max-width: 35rem) {
  .styles__c-modal--small___3xSfG {
    width: 100%;
  }
}
.styles__c-modal--medium___2Pu0O {
  width: 36rem;
}
@media (max-width: 39rem) {
  .styles__c-modal--medium___2Pu0O {
    width: 100%;
  }
}
.styles__c-modal--large___2k5qx {
  width: 40rem;
}
@media (max-width: 46rem) {
  .styles__c-modal--large___2k5qx {
    width: 100%;
  }
}
.styles__c-modal--xlarge___ZLRMN {
  width: 50rem;
}
@media (max-width: 56rem) {
  .styles__c-modal--xlarge___ZLRMN {
    width: 100%;
  }
}
.styles__c-modal--xxlarge___18Had {
  width: 60rem;
}
@media (max-width: 66rem) {
  .styles__c-modal--xxlarge___18Had {
    width: 100%;
  }
}
@media (max-width: 48rem) {
  .styles__c-modal-wrapper___y79-C.styles__c-modal-wrapper--fullscreen___3oSPW {
    padding: 0;
  }
}
@media (max-width: 48rem) {
  .styles__c-modal___dljYk.styles__c-modal--fullscreen___4RcnS {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
  }
}
.styles__c-modal-header___38uqi,
.styles__c-modal-header--branded___17z1P {
  margin: 0 0 1rem;
  padding: 1.687rem 3rem 0 2rem;
  overflow: visible;
  min-height: 2.5rem;
}
.styles__c-modal-header___38uqi h2,
.styles__c-modal-header--branded___17z1P h2 {
  margin: 0;
  font-weight: bold;
}
@media (max-width: 30rem) {
  .styles__c-modal-header___38uqi,
  .styles__c-modal-header--branded___17z1P {
    margin-bottom: 0.5rem;
    padding: 1.187rem 2rem 0 1.5rem;
  }
  .styles__c-modal-header___38uqi h2,
  .styles__c-modal-header--branded___17z1P h2 {
    font-size: 1.25rem;
  }
}
.styles__c-modal-header--branded___17z1P {
  padding: 1rem 3rem;
}
.styles__c-modal-header--branded___17z1P img {
  display: block;
  max-height: 3.5rem;
  margin: 0 auto;
}
.styles__c-modal-illu-header___2UbH8,
.styles__c-modal-illu-header--ghost___1gH1t {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem;
  max-width: 100%;
}
.styles__c-modal-illu-header___2UbH8 > *,
.styles__c-modal-illu-header--ghost___1gH1t > * {
  max-width: inherit;
}
.styles__c-modal-illu-header--ghost___1gH1t {
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin: 0.5rem 0;
  opacity: 0;
  max-height: 2rem;
  transition: opacity 150ms ease-in, top 150ms 50ms ease-in;
}
.styles__c-modal-illu-header--ghost___1gH1t > * {
  max-height: inherit;
}
.styles__c-modal-illu-header--ghost___1gH1t.styles__is-active___JlHre {
  top: 0;
  opacity: 1;
  transition: opacity 150ms 50ms ease-in, top 150ms ease-in;
}
.styles__c-modal--small-spacing___1Qal6 .styles__c-modal-header___38uqi {
  padding: 1.187rem 3rem 0 1.5rem;
}
@media (max-width: 30rem) {
  .styles__c-modal--small-spacing___1Qal6 .styles__c-modal-header___38uqi {
    padding: 0.687rem 2rem 0 1rem;
  }
}
.styles__c-modal--large-spacing___2ktm1 .styles__c-modal-header___38uqi {
  padding: 2.687rem 3rem 0 3rem;
}
@media (max-width: 48rem) {
  .styles__c-modal--large-spacing___2ktm1 .styles__c-modal-header___38uqi {
    padding: 1.687rem 2rem 0 2rem;
  }
}
.styles__c-modal-app___2FX9h {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--primaryTextColor);
}
.styles__c-app-editor___3FI4Z {
  font-weight: normal;
}
.styles__c-modal-app-icon___3iNz6 {
  height: 1.125rem;
  margin-right: 0.5rem;
}
.styles__c-modal-content-fixed___1F97i {
  border-bottom: 0.063rem solid var(--dividerColor);
  flex: 0 0 auto;
  padding: 0 2rem;
}
.styles__c-modal--small-spacing___1Qal6 .styles__c-modal-content-fixed___1F97i {
  padding: 0 1.5rem;
}
@media (max-width: 30rem) {
  .styles__c-modal--small-spacing___1Qal6 .styles__c-modal-content-fixed___1F97i {
    padding: 0 1rem;
  }
}
.styles__c-modal--large-spacing___2ktm1 .styles__c-modal-content-fixed___1F97i {
  padding: 0 3rem;
}
@media (max-width: 30rem) {
  .styles__c-modal--large-spacing___2ktm1 .styles__c-modal-content-fixed___1F97i {
    padding: 0 2rem;
  }
}
.styles__c-modal-content___22N4k {
  padding: 0 2rem;
}
.styles__c-modal-content___22N4k:last-child {
  padding-bottom: 2rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
@media (max-width: 30rem) {
  .styles__c-modal-content___22N4k {
    padding: 0 1.5rem;
  }
  .styles__c-modal-content___22N4k:last-child {
    padding-bottom: 1.5rem;
  }
}
.styles__c-modal--small-spacing___1Qal6 .styles__c-modal-content___22N4k {
  padding: 0 1.5rem;
}
.styles__c-modal--small-spacing___1Qal6 .styles__c-modal-content___22N4k:last-child {
  padding-bottom: 1.5rem;
}
@media (max-width: 30rem) {
  .styles__c-modal--small-spacing___1Qal6 .styles__c-modal-content___22N4k {
    padding: 0 1rem;
  }
  .styles__c-modal--small-spacing___1Qal6 .styles__c-modal-content___22N4k:last-child {
    padding-bottom: 1rem;
  }
}
.styles__c-modal--large-spacing___2ktm1 .styles__c-modal-content___22N4k {
  padding: 0 3rem;
}
.styles__c-modal--large-spacing___2ktm1 .styles__c-modal-content___22N4k:last-child {
  padding-bottom: 3rem;
}
@media (max-width: 48rem) {
  .styles__c-modal--large-spacing___2ktm1 .styles__c-modal-content___22N4k {
    padding: 0 2rem;
  }
  .styles__c-modal--large-spacing___2ktm1 .styles__c-modal-content___22N4k:last-child {
    padding-bottom: 2rem;
  }
}
.styles__c-modal-footer___3JCxm {
  padding: 1rem 1.25rem 1.25rem;
}
.styles__c-modal-footer--button___3AdGX button {
  margin-bottom: 0.25rem;
}
@media (max-width: 48rem) {
  .styles__c-modal-footer--button___3AdGX button {
    min-width: calc(50% - 0.5rem);
  }
}
.styles__c-modal-section___2LJKl {
  border-top: 0.063rem solid var(--dividerColor);
}
.styles__c-modal-close___1M8Jn {
  box-sizing: border-box;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
}
@media (max-width: 30rem) {
  .styles__c-modal-close___1M8Jn {
    top: 0.813rem;
    right: 1rem;
  }
}
.styles__c-modal--small-spacing___1Qal6 .styles__c-modal-close___1M8Jn {
  top: 1rem;
  right: 1rem;
}
@media (max-width: 30rem) {
  .styles__c-modal--small-spacing___1Qal6 .styles__c-modal-close___1M8Jn {
    top: 0.313rem;
    right: 0.5rem;
  }
}
.styles__c-modal--closable___3Wo68 .styles__c-modal-header___38uqi {
  padding-right: 4.5rem;
}
.styles__c-modal--large-spacing___2ktm1 .styles__c-modal-close___1M8Jn {
  top: 2.5rem;
  right: 2.5rem;
}
@media (max-width: 48rem) {
  .styles__c-modal--large-spacing___2ktm1 .styles__c-modal-close___1M8Jn {
    top: 1.313rem;
    right: 1.5rem;
  }
}
.styles__c-modal-close--notitle___3dCIQ {
  top: 0.375rem;
  right: 0.375rem;
}
.styles__c-modal--overflowHidden___1QDY9 {
  overflow: hidden;
}
.styles__c-modal-back-button___AjaZO {
  top: 0.375rem;
  left: 0.375rem;
  color: var(--actionColorActive);
}
@media (max-width: 48rem) {
  .styles__c-modal-back-button___AjaZO {
    top: 0;
    left: 0;
  }
}
.styles__c-modal-close--notitle___3dCIQ + .styles__c-modal-content___22N4k {
  margin-top: 3rem;
}
/*  imported from styles.styl  */

.styles__c-overlay___8W1LN {
  z-index: var(--zIndex-overlay);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--overlay);
  visibility: visible;
  transition: opacity 0.3s, visibility 0s ease-out;
}
/*  imported from styles.styl  */

@-moz-keyframes styles__spin___3VrS0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes styles__spin___3VrS0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-o-keyframes styles__spin___3VrS0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes styles__spin___3VrS0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-moz-keyframes styles__shake___1yyjR {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes styles__shake___1yyjR {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-o-keyframes styles__shake___1yyjR {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes styles__shake___1yyjR {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.styles__c-btn___3kXsk,
.styles__c-btn--regular___1ilYT {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  margin: 0 0.25rem;
  border-width: 0.063rem;
  border-style: solid;
  border-radius: 0.125rem;
  min-height: 2.5rem;
  min-width: 7rem;
  padding: 0.188rem 1rem;
  vertical-align: top;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  background-color: var(--primaryColor);
  color: var(--primaryContrastTextColor);
  border-color: var(--primaryColor);
}
.styles__c-btn___3kXsk svg,
.styles__c-btn--regular___1ilYT svg {
  fill: currentColor;
}
.styles__c-btn___3kXsk svg + span,
.styles__c-btn--regular___1ilYT svg + span {
  margin-left: 0.375rem;
}
.styles__c-btn___3kXsk input,
.styles__c-btn--regular___1ilYT input {
  cursor: pointer;
}
.styles__c-btn___3kXsk > span,
.styles__c-btn--regular___1ilYT > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.styles__c-btn___3kXsk[disabled],
.styles__c-btn--regular___1ilYT[disabled],
.styles__c-btn___3kXsk[aria-disabled=true],
.styles__c-btn--regular___1ilYT[aria-disabled=true] {
  opacity: 0.5;
  cursor: not-allowed;
}
.styles__c-btn___3kXsk[disabled] input,
.styles__c-btn--regular___1ilYT[disabled] input,
.styles__c-btn___3kXsk[aria-disabled=true] input,
.styles__c-btn--regular___1ilYT[aria-disabled=true] input {
  cursor: not-allowed;
}
.styles__c-btn___3kXsk[aria-busy=true],
.styles__c-btn--regular___1ilYT[aria-busy=true] {
  opacity: 0.5;
  pointer-events: none;
}
.styles__c-btn___3kXsk:visited,
.styles__c-btn--regular___1ilYT:visited {
  color: var(--primaryContrastTextColor);
}
.styles__c-btn___3kXsk:active,
.styles__c-btn--regular___1ilYT:active,
.styles__c-btn___3kXsk:hover,
.styles__c-btn--regular___1ilYT:hover,
.styles__c-btn___3kXsk:focus,
.styles__c-btn--regular___1ilYT:focus {
  border-color: var(--primaryColorDark);
  background-color: var(--primaryColorDark);
}
.styles__c-btn___3kXsk[disabled]:hover,
.styles__c-btn--regular___1ilYT[disabled]:hover,
.styles__c-btn___3kXsk[aria-disabled=true]:hover,
.styles__c-btn--regular___1ilYT[aria-disabled=true]:hover {
  border-color: var(--primaryColor);
  background-color: var(--primaryColor);
}
.styles__c-btn--ghost___Md7mm {
  background-color: var(--zircon);
  color: var(--primaryColor);
  border-color: #c2dcff;
  border-style: dashed;
}
.styles__c-btn--ghost___Md7mm:visited {
  color: var(--primaryColor);
}
.styles__c-btn--ghost___Md7mm:active,
.styles__c-btn--ghost___Md7mm:hover,
.styles__c-btn--ghost___Md7mm:focus {
  border-color: #c2dcff;
  background-color: #c2dcff;
}
.styles__c-btn--ghost___Md7mm[disabled]:hover,
.styles__c-btn--ghost___Md7mm[aria-disabled=true]:hover {
  border-color: #c2dcff;
  background-color: var(--zircon);
}
.styles__c-btn--highlight___GlDOj {
  background-color: #35ce68;
  color: var(--white);
  border-color: #35ce68;
}
.styles__c-btn--highlight___GlDOj:visited {
  color: var(--white);
}
.styles__c-btn--highlight___GlDOj:active,
.styles__c-btn--highlight___GlDOj:hover,
.styles__c-btn--highlight___GlDOj:focus {
  border-color: #08b442;
  background-color: #08b442;
}
.styles__c-btn--highlight___GlDOj[disabled]:hover,
.styles__c-btn--highlight___GlDOj[aria-disabled=true]:hover {
  border-color: #35ce68;
  background-color: #35ce68;
}
.styles__c-btn--alpha___2-bRT,
.styles__c-btn--action___3z98K,
.styles__c-btn--close___C19bl {
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
}
.styles__c-btn--alpha___2-bRT:visited,
.styles__c-btn--action___3z98K:visited,
.styles__c-btn--close___C19bl:visited {
  color: var(--white);
}
.styles__c-btn--alpha___2-bRT:active,
.styles__c-btn--action___3z98K:active,
.styles__c-btn--close___C19bl:active,
.styles__c-btn--alpha___2-bRT:hover,
.styles__c-btn--action___3z98K:hover,
.styles__c-btn--close___C19bl:hover,
.styles__c-btn--alpha___2-bRT:focus,
.styles__c-btn--action___3z98K:focus,
.styles__c-btn--close___C19bl:focus {
  border-color: var(--scienceBlue);
  background-color: var(--scienceBlue);
}
.styles__c-btn--alpha___2-bRT[disabled]:hover,
.styles__c-btn--action___3z98K[disabled]:hover,
.styles__c-btn--close___C19bl[disabled]:hover,
.styles__c-btn--alpha___2-bRT[aria-disabled=true]:hover,
.styles__c-btn--action___3z98K[aria-disabled=true]:hover,
.styles__c-btn--close___C19bl[aria-disabled=true]:hover {
  border-color: var(--white);
  background-color: transparent;
}
.styles__c-btn--danger___wzHFo {
  background-color: #f52d2d;
  color: var(--white);
  border-color: #f52d2d;
}
.styles__c-btn--danger___wzHFo:visited {
  color: var(--white);
}
.styles__c-btn--danger___wzHFo:active,
.styles__c-btn--danger___wzHFo:hover,
.styles__c-btn--danger___wzHFo:focus {
  border-color: var(--monza);
  background-color: var(--monza);
}
.styles__c-btn--danger___wzHFo[disabled]:hover,
.styles__c-btn--danger___wzHFo[aria-disabled=true]:hover {
  border-color: #f52d2d;
  background-color: #f52d2d;
}
.styles__c-btn--secondary___1hLVM {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--silver);
}
.styles__c-btn--secondary___1hLVM:visited {
  color: var(--black);
}
.styles__c-btn--secondary___1hLVM:active,
.styles__c-btn--secondary___1hLVM:hover,
.styles__c-btn--secondary___1hLVM:focus {
  border-color: var(--silver);
  background-color: var(--silver);
}
.styles__c-btn--secondary___1hLVM[disabled]:hover,
.styles__c-btn--secondary___1hLVM[aria-disabled=true]:hover {
  border-color: var(--silver);
  background-color: var(--white);
}
.styles__c-btn--danger-outline___BCng5 {
  background-color: var(--white);
  color: #f52d2d;
  border-color: #fdcbcb;
}
.styles__c-btn--danger-outline___BCng5:visited {
  color: #f52d2d;
}
.styles__c-btn--danger-outline___BCng5:active,
.styles__c-btn--danger-outline___BCng5:hover,
.styles__c-btn--danger-outline___BCng5:focus {
  border-color: #fdcbcb;
  background-color: #fdcbcb;
}
.styles__c-btn--danger-outline___BCng5[disabled]:hover,
.styles__c-btn--danger-outline___BCng5[aria-disabled=true]:hover {
  border-color: #fdcbcb;
  background-color: var(--white);
}
.styles__c-btn--text___33vmu {
  background-color: transparent;
  color: var(--primaryColor);
  border-color: transparent;
}
.styles__c-btn--text___33vmu:visited {
  color: var(--primaryColor);
}
.styles__c-btn--text___33vmu:active,
.styles__c-btn--text___33vmu:hover,
.styles__c-btn--text___33vmu:focus {
  border-color: transparent;
  background-color: transparent;
}
.styles__c-btn--text___33vmu[disabled]:hover,
.styles__c-btn--text___33vmu[aria-disabled=true]:hover {
  border-color: transparent;
  background-color: transparent;
}
.styles__c-btn--text___33vmu:hover,
.styles__c-btn--text___33vmu:focus {
  color: var(--primaryColorDark);
}
.styles__c-btn--action___3z98K {
  border-color: transparent;
  padding: 0.5rem;
  opacity: 0.5;
}
.styles__c-btn--action___3z98K:active,
.styles__c-btn--action___3z98K:hover,
.styles__c-btn--action___3z98K:focus {
  background-color: transparent;
  border-color: transparent;
}
.styles__c-btn--close___C19bl {
  border-color: transparent;
  padding: 0.5rem;
}
.styles__c-btn--close___C19bl:active,
.styles__c-btn--close___C19bl:hover,
.styles__c-btn--close___C19bl:focus {
  background-color: transparent;
  border-color: transparent;
}
.styles__c-btn--left___3f1zH > span {
  justify-content: flex-start;
}
.styles__c-btn--center___Nny0n > span {
  justify-content: center;
}
.styles__c-btn--right___1B9Tn > span {
  justify-content: flex-end;
}
.styles__c-btn___3kXsk.styles__c-btn--tiny___fK37G {
  min-height: 1.5rem;
  min-width: 5rem;
  padding: 0.125rem 1rem;
  font-size: 0.75rem;
  line-height: 1.3;
}
.styles__c-btn___3kXsk.styles__c-btn--small___9JKyq {
  min-height: 2rem;
  min-width: 6rem;
  padding: 0.188rem 0.5rem;
  font-size: 0.813rem;
  line-height: 1.4;
}
.styles__c-btn___3kXsk.styles__c-btn--large___3PnsT {
  min-height: 3rem;
  min-width: 10rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
.styles__c-btn___3kXsk.styles__c-btn--full___1VumB {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.styles__c-btn___3kXsk.styles__c-btn--narrow___erKsd,
.styles__c-btn___3kXsk.styles__c-btn--round___35GfW {
  min-width: auto;
}
.styles__c-btn___3kXsk.styles__c-btn--round___35GfW {
  border-radius: 100%;
  min-height: auto;
  padding: 0.25rem;
}
.styles__c-btn___3kXsk.styles__c-btn--round___35GfW svg {
  width: 0.625rem;
  height: 0.625rem;
}
@media (pointer: coarse) {
  .styles__c-btn___3kXsk.styles__c-btn--round___35GfW:after {
    content: '';
    position: absolute;
    top: -0.875rem;
    right: -0.875rem;
    bottom: -0.875rem;
    left: -0.875rem;
  }
}
.styles__c-btn--subtle___2rRQ0 {
  color: var(--primaryColor);
  min-height: auto;
  min-width: auto;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}
.styles__c-btn--subtle___2rRQ0:active,
.styles__c-btn--subtle___2rRQ0:focus,
.styles__c-btn--subtle___2rRQ0:hover {
  color: var(--primaryColorDark);
}
.styles__c-btn--subtle___2rRQ0 > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.styles__c-btn--subtle___2rRQ0[disabled],
.styles__c-btn--subtle___2rRQ0[aria-disabled=true] {
  opacity: 0.5;
  cursor: not-allowed;
}
.styles__c-btn--subtle___2rRQ0[disabled]:hover,
.styles__c-btn--subtle___2rRQ0[aria-disabled=true]:hover {
  background: transparent;
}
.styles__c-btn--subtle___2rRQ0[aria-busy=true] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.styles__c-btn--subtle___2rRQ0[aria-busy=true]:hover {
  background: transparent;
}
.styles__c-btn--subtle___2rRQ0:active,
.styles__c-btn--subtle___2rRQ0:hover,
.styles__c-btn--subtle___2rRQ0:focus,
.styles__c-btn--subtle___2rRQ0:visited {
  color: var(--primaryColorDark);
  background: transparent;
}
* + .styles__c-btn--subtle___2rRQ0 {
  margin-left: 0.063rem;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--tiny___fK37G {
  min-height: 0;
  min-width: 0;
  padding: 0;
  font-size: 0.563rem;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--small___9JKyq {
  min-height: 0;
  min-width: 0;
  padding: 0;
  font-size: 0.75rem;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--large___3PnsT {
  min-height: 0;
  min-width: 0;
  padding: 0;
  font-size: 1rem;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--danger___wzHFo {
  color: #f52d2d;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--danger___wzHFo:active,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--danger___wzHFo:focus,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--danger___wzHFo:hover {
  color: var(--monza);
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--highlight___GlDOj {
  color: #35ce68;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--highlight___GlDOj:active,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--highlight___GlDOj:focus,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--highlight___GlDOj:hover {
  color: #08b442;
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--regular___1ilYT {
  color: var(--primaryColor);
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--regular___1ilYT:active,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--regular___1ilYT:focus,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--regular___1ilYT:hover {
  color: var(--primaryColorDark);
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM {
  color: var(--slateGrey);
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM:active,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM:focus,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM:hover {
  color: var(--charcoalGrey);
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM:active svg,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM:focus svg,
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM:hover svg {
  color: var(--slateGrey);
}
.styles__c-btn--subtle___2rRQ0.styles__c-btn--secondary___1hLVM svg {
  color: var(--coolGrey);
}
