@require '../../stylus/components/forms'

.o-field
    @extend $field


.o-field-input
    position relative

.o-side
    position absolute
    top 1.5rem
    left 0
    width 100%
    max-width rem(512)
    text-align right
    cursor pointer
    text-transform unset

.o-side-fullwidth
    max-width 100%

.o-field-input-action
    @extend .o-side
    top -1.5rem
    text-transform uppercase
