@require '../../stylus/components/forms'

.o-field
    @extend $field


.o-field-input
    position relative

.o-side
    position absolute
    top 0
    right 0
    cursor pointer
    text-transform unset

.o-field-input-action
    @extend .o-side
    top -3rem
    text-transform uppercase
