@require 'settings/breakpoints.styl'

.DialogCloseButton
    position absolute
    top 1.15rem
    right 1.15rem
    z-index 1
    +small-screen()
        top 0.25rem
        right 0.25rem

.DialogBackButton
    position absolute
    top 1.15rem
    left 1.15rem
    z-index 1
    +small-screen()
        top 0.25rem
        left 0.25rem
