@require 'settings/breakpoints.styl'

.DialogCloseButton
    position absolute
    top 0.75rem
    right 0.75rem
    z-index var(--zIndex-modal) //needed for an iOS bug https://github.com/cozy/cozy-ui/pull/1790
    +small-screen()
        top 0.25rem
        right 0.25rem
