@require 'settings/breakpoints.styl'

.DialogCloseButton
    position absolute
    top 0.5rem
    right 0.5rem
    z-index var(--zIndex-modal) //needed for an iOS bug https://github.com/cozy/cozy-ui/pull/1790
    +small-screen()
        top 0
        right 0
