@require 'components/selectionbar.styl'
@require 'settings/breakpoints.styl'

@require '../vars.styl'

.viewer-nav
    position absolute
    top $toolbarHeight
    bottom 0
    z-index var(--zIndex-modal-toolbar)
    width 20%
    cursor pointer
    background-color transparent
    transition .4s opacity ease-out
    opacity 0
    display flex
    align-items center
    justify-content center
    flex-direction column

    &--visible:hover
        opacity 1
        transition none

    &--previous
        left 0
        .viewer-nav-arrow
            align-self flex-start
            margin-left 2.5rem
            transform rotate(180deg)

    &--next
        right 0
        .viewer-nav-arrow
            align-self flex-end
            margin-right 2.5rem

    +medium-screen()
        display none

.viewer-nav-arrow
    opacity .7

.viewer-controls
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 100%

.viewer-controls.--expanded .viewer-nav
    margin-top 0
    width 40%

.viewer-controls--display-content-top
    +medium-screen()
        justify-content flex-start
        padding-top $toolbarHeightMedium - $viewerMarginTopMedium + 1rem

.viewer-toolbar
    position absolute
    top 0
    z-index var(--zIndex-modal-toolbar)
    display flex
    flex-shrink 0
    width calc(100% - 1rem)
    padding 0 0.5rem
    height $toolbarHeight
    transition .4s opacity ease-out
    background linear-gradient(to bottom, var(--charcoalGrey), rgba(50, 54, 63, 0))
    justify-content flex-start
    align-items center

    &--hidden
        opacity 0

    +medium-screen()
        height $toolbarHeightMedium
        width 100%
        padding var(--flagship-top-height) 1rem 0 0
        background var(--paperBackgroundColor)
        border-bottom 1px solid var(--dividerColor)

.viewer-footer
    position fixed
    bottom 0
    z-index var(--zIndex-modal-footer)
    width 100%
    height $footerHeight
    padding-bottom var(--flagship-bottom-height, env(safe-area-inset-bottom))
    background var(--paperBackgroundColor)
