.Dropdown__icon
  padding: 0 .5rem;

@media (max-width: 48rem)
  .Dropdown .Select__control
    padding .5rem .5rem .5rem .2rem
    border-radius 0
    height 2.75rem

  .Dropdown .Select__menu
    top 2rem

  .Dropdown > div
    max-width none
