@require 'settings/breakpoints.styl'


.AppTile-icon
  object-fit contain
  max-width 100%
  width auto

.AppTile-icon--default
  height 100%
  padding 0 .5em

.AppTile-icon-maintenance
  position absolute
  border 2px solid var(--primaryContrastTextColor)
  border-radius 50%
  background var(--primaryContrastTextColor)
  bottom 80px
  left 80px

  +small-screen()
    bottom 6px
    left 40px

.AppTile-container-maintenance
  filter grayscale(1)
  opacity .64
