.ActionMenuDesktop-ActionMenu
    a
        padding 0 !important // Waiting for the migration of the ActionMenu on the Viewer
    .ActionMenuDesktop-ActionMenu-link-disabled
        > div
            cursor default
            &:hover
                background-color initial
            > div
                svg
                    fill var(--disabledTextColor)
                p
                    color var(--disabledTextColor)
