/*------------------------------------*\
  Breakpoints
  =====
\*------------------------------------*/

// variables

tiny        =  543
small       =  768
medium      = 1023
large       = 1200
extra-large = 1439

// mixins

tiny-screen()
    @media (max-width: (tiny/basefont)rem)
        {block} // @stylint ignore

small-screen()
    @media (max-width: (small/basefont)rem)
        {block} // @stylint ignore

medium-screen()
    @media (max-width: (medium/basefont)rem)
        {block} // @stylint ignore

large-screen()
    @media (max-width: (large/basefont)rem)
        {block} // @stylint ignore

extra-large-screen()
    @media (max-width: (extra-large/basefont)rem)
        {block} // @stylint ignore

// mixins named

desktop()
    @media (min-width: ((medium + 1)/basefont)rem)
        {block} // @stylint ignore

tablet()
    @media (min-width: ((small + 1)/basefont)rem) and (max-width: (medium/basefont)rem)
        {block} // @stylint ignore

mobile()
    small-screen()
        {block} // @stylint ignore

no-mobile()
    @media (min-width: ((small + 1)/basefont)rem)
        {block} // @stylint ignore

no-desktop()
    medium-screen()
        {block} // @stylint ignore
