/*------------------------------------*\
  Font Stack
\*------------------------------------*/

/*
    Font Stack

    There's two available for now, Inter and Lato, which is used on body, so basically everywhere. It's also available in bold.

    Markup:
    <p>This is basic text</p>
    <p><strong>And this is bold text</strong></p>

    Styleguide Settings.fonts
*/
html
    --primaryFont Inter, Lato, sans-serif

$font-labor
    font-family var(--primaryFont)
