@require '../tools/mixins'

// @stylint off
/*------------------------------------*\
  Palette
  =====
\*------------------------------------*/
/*
    Settings

    Weight: -10

    Styleguide Settings
*/

/*
    Colors

    Colors used in the user interface. You can directly use the var name assiociated with its hexadecimal.

    Styleguide Settings.colors
*/
html
    /*
    Grey

    Stylus: white        -  #FFFFFF, CSS: var(--white)
    Stylus: paleGrey     -  #F5F6F7, CSS: var(--paleGrey)
    Stylus: silver       -  #D6D8Da, CSS: var(--silver)
    Stylus: coolGrey     -  #95999D, CSS: var(--coolGrey)
    Stylus: slateGrey    -  #5D6165, CSS: var(--slateGrey)
    Stylus: charcoalGrey -  #32363F, CSS: var(--charcoalGrey)
    Stylus: black        -  #000000, CSS: var(--black)

    Weight: -1

    Styleguide Settings.colors.grey
    */
    --white         #FFFFFF
    --paleGrey      #F5F6F7
    --silver        #D6D8Da
    --coolGrey      #95999D
    --slateGrey     #5D6165
    --charcoalGrey  #32363F
    --black         #000000
    --overlay       rgba(50, 54, 63, .5)
    /*
    Blue

    Stylus: zircon       -  #F5FAFF, CSS: var(--zircon)
    Stylus: hawkesBlue   -  #EEF5FE, CSS: var(--hawkesBlue)
    Stylus: frenchPass   -  #C2DCFF, CSS: var(--frenchPass)
    Stylus: azure        -  #1FA8F1, CSS: var(--azure)
    Stylus: dodgerBlue   -  #297EF2, CSS: var(--dodgerBlue)
    Stylus: scienceBlue  -  #0B61D6, CSS: var(--scienceBlue)
    Stylus: puertoRico   -  #0DCBCF, CSS: var(--puertoRico)

    Styleguide Settings.colors.blue
    */
    --zircon       #F5FAFF
    --hawkesBlue   #EEF5FE
    --frenchPass   #C2DCFF
    --azure        #1FA8F1
    --dodgerBlue   #297EF2
    --scienceBlue  #0B61D6
    --puertoRico   #0DCBCF
    /*
    Green

    Stylus: grannyApple  - #DEF7E7, CSS: var(--grannyApple)
    Stylus: weirdGreen   - #40DE8E, CSS: var(--weirdGreen)
    Stylus: emerald      - #35CE68, CSS: var(--emerald)
    Stylus: malachite    - #08b442, CSS: var(--malachite)
    Stylus: seafoamGreen - #3DA67E, CSS: var(--seafoamGreen)

    Styleguide Settings.colors.green
    */
    --grannyApple  #DEF7E7
    --weirdGreen   #40DE8E
    --emerald      #35CE68
    --malachite    #08b442
    --seafoamGreen #3DA67E
    /*
    Orange

    Stylus: brightSun     - #FFC644, CSS: var(--brightSun)
    Stylus: texasRose     - #FFAE5F, CSS: var(--texasRose)
    Stylus: mango         - #FF962F, CSS: var(--mango)
    Stylus: pumpkinOrange - #FF7F1B, CSS: var(--pumpkinOrange)
    Stylus: blazeOrange   - #FC6D00, CSS: var(--blazeOrange)
    Stylus: melon         - #FD7461, CSS: var(--melon)

    Styleguide Settings.colors.orange
    */
    --brightSun      #FFC644
    --texasRose      #FFAE5F
    --mango          #FF962F
    --pumpkinOrange  #FF7F1B
    --blazeOrange    #FC6D00
    --melon          #FD7461
    /*
    Red

    Stylus: chablis      - #FFF2F2, CSS: var(--chablis)
    Stylus: yourPink     - #FDCBCB, CSS: var(--yourPink)
    Stylus: fuchsia      - #FC4C83, CSS: var(--fuchsia)
    Stylus: pomegranate  - #F52D2D, CSS: var(--pomegranate)
    Stylus: monza        - #DD0505, CSS: var(--monza)

    Styleguide Settings.colors.red
    */
    --chablis      #FFF2F2
    --yourPink     #FDCBCB
    --fuchsia      #FC4C83
    --pomegranate  #F52D2D
    --monza        #DD0505
    /*
    Purple

    Stylus: lavender       - #C2ADF4, CSS: var(--lavender)
    Stylus: darkPeriwinkle - #6984CE, CSS: var(--darkPeriwinkle)
    Stylus: purpley        - #7F6BEE, CSS: var(--purpley)
    Stylus: portage        - #9169F2, CSS: var(--portage)
    Stylus: lightishPurple - #B449E7, CSS: var(--lightishPurple)
    Stylus: barney         - #922BC2, CSS: var(--barney)

    Styleguide Settings.colors.purple
    */
    --lavender        #C2ADF4
    --darkPeriwinkle  #6984CE
    --purpley         #7F6BEE
    --portage         #9169F2
    --lightishPurple  #B449E7
    --barney          #922BC2

    /*
        Theme

        Colors theme used in the user interface. You can directly use the var name assiociated with its hexadecimal.

        Styleguide Settings.theme
    */

    /*
    Primary

    Stylus: primaryColor             - #297EF2, CSS: var(--primaryColor)
    Stylus: primaryColorDark         - #0B61D6, CSS: var(--primaryColorDark)
    Stylus: primaryColorLight        - #5C9DF5, CSS: var(--primaryColorLight)
    Stylus: primaryColorLighter      - #4B93F7, CSS: var(--primaryColorLighter)
    Stylus: primaryColorLightest     - #9FC4FB, CSS: var(--primaryColorLightest)
    Stylus: primaryContrastTextColor - #FFFFFF, CSS: var(--primaryContrastTextColor)

    Styleguide Settings.theme.primary
    */
html, .CozyTheme--normal
    --primaryColor #297EF2
    --primaryColorDark #0B61D6
    --primaryColorLight #5C9DF5
    --primaryColorLighter #4B93F7 // should not be used
    --primaryColorLightest #9FC4FB

    --secondaryColor #fd7461
    --secondaryColorDark #E3503B
    --secondaryColorLight #ffdeda // lighten(dodgerBlue, 24)
    --secondaryColorLighter #fd7461 //
    --secondaryColorLightest #FECDC6

    --primaryBackgroundLight: var(--zircon)

    --primaryTextColor var(--charcoalGrey)
    --secondaryTextColor var(--coolGrey)
    --primaryContrastTextColor var(--white)

    --invertedTabsActiveTextColor var(--primaryContrastTextColor)
    --invertedTabsInactiveTextColor var(--primaryContrastTextColor)
    --invertedTabsIndicatorColor var(--primaryContrastTextColor)
    --invertedTabsBackgroundColor var(--primaryColor)

    --regularButtonPrimaryColor: var(--primaryColor)
    --regularButtonSecondaryColor: var(--primaryColor)
    --regularButtonActiveColor: var(--primaryColorDark)
    --regularButtonConstrastColor: var(--primaryContrastTextColor)

    --secondaryButtonPrimaryColor: var(--white)
    --secondaryButtonSecondaryColor: var(--silver)
    --secondaryButtonActiveColor: var(--silver)
    --secondaryButtonContrastColor: var(--black)

    --iconColor: currentColor
    --actionMenuIconColor: var(--slateGrey)

    --errorColor: var(--pomegranate)
    --errorBackgroundLight: var(--chablis)

    --validColor: var(--emerald)
    --warnColor: var(--texasRose)
    --dangerColor: var(--pomegranate)

    --neutralBackground: var(--paleGrey)

    --buttonTextTransform uppercase
    --buttonBorderRadius rem(2)

    --navTextColor var(--slateGrey)
    --navTextActiveColor var(--slateGrey)
    --navTextHoverColor var(--charcoalGrey)
// @stylint on
