json('palette.json')

/*------------------------------------*\
  Palette
  =====
\*------------------------------------*/
/*
    Settings

    Weight: -10

    Styleguide Settings
*/

/*
    Colors

    Colors used in the user interface. You can directly use the var name assiociated with its hexadecimal.

    Styleguide Settings.colors
*/

/*
    Grey

    Stylus: white        -  #FFFFFF, CSS: var(--white)
    Stylus: paleGrey     -  #F5F6F7, CSS: var(--paleGrey)
    Stylus: silver       -  #D6D8Da, CSS: var(--silver)
    Stylus: coolGrey     -  #95999D, CSS: var(--coolGrey)
    Stylus: slateGrey    -  #5D6165, CSS: var(--slateGrey)
    Stylus: charcoalGrey -  #32363F, CSS: var(--charcoalGrey)
    Stylus: black        -  #000000, CSS: var(--black)

    Weight: -1

    Styleguide Settings.colors.grey
*/

/*
    Blue

    Stylus: zircon       -  #F1F7FF, CSS: var(--zircon)
    Stylus: frenchPass   -  #C2DCFF, CSS: var(--frenchPass)
    Stylus: dodgerBlue   -  #297EF2, CSS: var(--dodgerBlue)
    Stylus: azure        -  #1FA8F1, CSS: var(--azure)
    Stylus: scienceBlue  -  #0B61D6, CSS: var(--scienceBlue)
    Stylus: puertoRico   -  #4DCEC5, CSS: var(--puertoRico)

    Styleguide Settings.colors.blue
*/

/*
    Green

    Stylus: emerald    - #35CE68, CSS: var(--emerald)
    Stylus: malachite  - #08b442, CSS: var(--malachite)
    Stylus: weirdGreen - #40DE8E, CSS: var(--weirdGreen)

    Styleguide Settings.colors.green
*/

/*
    Orange

    Stylus: texasRose     - #FFAE5F, CSS: var(--texasRose)
    Stylus: mango         - #FF962F, CSS: var(--mango)
    Stylus: pumpkinOrange - #FF7F1B, CSS: var(--pumpkinOrange)
    Stylus: blazeOrange   - #FC6D00, CSS: var(--blazeOrange)
    Stylus: melon         - #FD7461, CSS: var(--melon)

    Styleguide Settings.colors.orange
*/

/*
    Red

    Stylus: chablis      - #FFF2F2, CSS: var(--chablis)
    Stylus: yourPink     - #FDCBCB, CSS: var(--yourPink)
    Stylus: pomegranate  - #F52D2D, CSS: var(--pomegranate)
    Stylus: monza        - #DD0505, CSS: var(--monza)

    Styleguide Settings.colors.red
*/

/*
    Purple

    Stylus: darkPeriwinkle - #6984CE, CSS: var(--darkPeriwinkle)
    Stylus: purpley        - #7F6BEE, CSS: var(--purpley)
    Stylus: portage        - #9169F2, CSS: var(--portage)
    Stylus: lightishPurple - #B449E7, CSS: var(--lightishPurple)
    Stylus: barney - #922BC2, CSS: var(--barney)

    Styleguide Settings.colors.purple
*/
