sizes = {
    'auto': auto
    '0': 0,
    'half': rem(8),
    '1': rem(16),
    '1-half': rem(24),
    '2': rem(32),
    '2-half': rem(40),
    '3': rem(48)
}

// These are the values used by the design team, they should used
// instead of the `sizes` variable above that is only kept for retro-compatibility
spacing_values = {
    m: 1rem, // the standard, no modifier needed
    xs: .5rem,
    s: .75rem,
    l: 1.5rem,
    xl: 2rem
    xxl: 3rem
}

directions = {
    '': all,
    t: top,
    b: bottom,
    l: left,
    r: right,
    v: vertical,
    h: horizontal
}
