@require '../settings/breakpoints'
@require '../tools/mixins'

/*------------------------------------*\
  Typography
\*------------------------------------*/

$h1-font-size=rem(24)
$h2-font-size=rem(20)
$bar-font-size=rem(18)
$h3-font-size=rem(18)
$h4-font-size=rem(16)
$text-font-size=rem(16)
$caption-font-size=rem(12)
$subtitle-font-size=rem(12)
$small-font-size=rem(14)

