/*------------------------------------*\
  Please, edit this file properly, with a 10 based incrementation,
  and keep things in order so it remains easily readable.

  How to use: just import this file in your component's style and call
  the related variable
  e.g.
  .my-app
      z-index  $app-index
\*------------------------------------*/

/*
    Z-Index

    List of every z-index related to components in order to keep a clean
    & maintainable order of indexes.

    Those indexes are 10 based so you can deal with extra layers using `$index + 1`

    $below-index        - **index -1** Layer below the app, mostly for hiding purpose
    $app-index          - **index 0** App index, the ground zero.
    $alert-index-mobile - **index 10** Alert index like success, errors, infos *mobile only*
    $bar-index          - **index 20** Bar index, not actually used, just as reference
    $nav-index          - **index 20** Nav index
    $selection-index    - **index 30** Selection bar index, with actions for selected items
    $popover-index      - **index 40** Popover index used by dropdown menu for example
    $overlay            - **index 50** Overlay index for modals background
    $file-action-menu   - **index 60** File action menu index *mobile only*
    $modal-index        - **index 70** Modal index
    $alert-index        - **index 80** Alert index such as success, errors, infos

    Styleguide Settings.z-index
*/

$below-index        = -1
$app-index          = 0
$alert-index-mobile = 10
$bar-index          = 20 // Not actually used, just as reference
$nav-index          = 20
$selection-index    = 30
$popover-index      = 40
$overlay            = 50
$file-action-menu   = 60
$modal-index        = 70
$alert-index        = 80
