@require '../../stylus/generic/typography'

.u-title-h1
    @extend $title-h1

.u-title-h2
    @extend $title-h2

.u-title-h3
    @extend $title-h3

.u-title-h4
    @extend $title-h4

.u-text
    @extend $text

.u-caption
    @extend $caption

