@require '../../stylus/generic/typography'

.g-title-h1
    @extend $title-h1

.g-title-h2
    @extend $title-h2

.g-title-h3
    @extend $title-h3

.g-title-h4
    @extend $title-h4

.g-text
    @extend $text

.g-caption
    @extend $caption

