@require 'settings/breakpoints.styl'
@require './vars.styl'

.viewer-wrapper
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    z-index var(--zIndex-overlay)
    overflow hidden
    background var(--charcoalGrey)
    color var(--white)
    display flex

    .flagship-app &
        padding-top var(--flagship-top-height)
        padding-bottom var(--flagship-bottom-height)

    +medium-screen()
        color var(--primaryTextColor)
        background var(--paperBackgroundColor)
