@require '../../stylus/components/forms'

.c-inputgroup
    @extend $inputgroup

    input
        @extend $inputgroup-input

.c-inputgroup--focus
    @extend $inputgroup--focus

.c-inputgroup--error
    @extend $inputgroup--error

.c-inputgroup--fullwidth
    @extend $inputgroup--fullwidth

.c-inputgroup-main
    @extend $inputgroup-main

.c-inputgroup-side
    @extend $inputgroup-side

.c-inputgroup-unit
    padding-left 1rem
    padding-right 1rem
    font-weight bold
