@require 'components/button'

.c-actionbtn
    @extend $actionbtn

    &.c-actionbtn--compact
        @extend $actionbtn--compact

.c-actionbtn--new
    @extend $actionbtn--new

.c-actionbtn--normal
    @extend $actionbtn--normal

.c-actionbtn--error
    @extend $actionbtn--error

.c-actionbtn-label
    @extend $actionbtn-label

.c-actionbtn-icon
    @extend $actionbtn-icon
