/*------------------------------------*\
  Mixins
  =====

  This file contains mixins:
  - hide()
  - reset()
\*------------------------------------*/
/*
    Tools

    Weight: -9

    Styleguide Tools
*/
/*
    Mixins

    Available mixins

    Styleguide Tools.mixins
*/
// @stylint off
use('../scripts/checksum.js')
use('../scripts/split.js')
use('../scripts/deprecate.js')
// @stylint on


// We need a base font-size for _px to em_ computation. We assume those size to
// be 16px (as default desktop browsers), but it really don't care as well as
// all relative units should be expressed in `em`
basefont = 16px

/*
    hide()

    hide() mixin definitely hides an element. This mixin doesn't take parameters.

    Weight: 2

    Styleguide Tools.mixins.hide
*/
hide()
    display     none
    visibility  hidden

/*
    reset()

    reset() mixin removes every padding, margin and border of an element.
    This mixin doesn't take parameters.

    Weight: 3

    Styleguide Tools.mixins.reset
*/
reset()
    margin  0
    padding 0
    border  0

global(selector, placeholder)
    if cssmodules == true
        :global({selector})
            @extend {placeholder} // @stylint ignore
    else
        {selector}
            @extend {placeholder} // @stylint ignore

// @stylint on
