@import '../../stylus/tools/mixins'
@import '../../stylus/settings/palette'
@import '../../stylus/tools/mixins'
@import '../../stylus/ui-components/button'
@import '../../stylus/ui-components/selectionbar'

[role=application]
  @extend $selectionbar
