@import '../../stylus/tools/mixins'
@import '../../stylus/settings/palette'
@import '../../stylus/components/button'
@import '../../stylus/components/selectionbar'

[role=application]
  @extend $selectionbar
