@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/button'
@require '../../stylus/components/selectionbar'

[role=application]
  @extend $selectionbar
