@require '../tools/mixins'

$accordion
    padding 0

$accordion-item
    border-bottom: rem(1) solid var(--dividerColor)
    font-size rem(16)

$accordion-title
    display flex
    align-items center
    line-height 2
    color var(--slateGrey)
    cursor pointer
    outline 0
    padding rem(8) 0

    &:hover
    &:focus
        color var(--charcoalGrey)

        svg
            fill var(--slateGrey)

    svg
        margin-right rem(4)
        transform rotate(0)
        transition transform 300ms ease
        fill var(--coolGrey)

$accordion-title--active
    color var(--charcoalGrey)

    svg
        transform rotate(90deg)
        fill var(--coolGrey)

$accordion-body
    height auto
    max-height 0
    overflow hidden
    line-height 1.3
    color var(--charcoalGrey)
    transition max-height 300ms ease-out

    &:after
        content ''
        display block
        height rem(8)

$accordion-body--active
    max-height 600px
    transition max-height 300ms ease-in
