@require './popover.styl'
@require '../tools/mixins'

$actionmenu-container
    position relative

$actionmenu
    @extend $popover

    hr
        margin-top 0

$actionmenu--inline
    position absolute
    bottom auto
    left auto
    width auto
    min-width rem(220)

$actionmenu-header
    box-sizing border-box
    border-bottom rem(1) solid var(--silver)
    padding rem(16)
    min-height rem(64)

$actionmenu-item
    height rem(48)
    cursor pointer

    &:hover
        background-color var(--paleGrey)
