@require './popover.styl'
@require '../tools/mixins'
@require '../settings/spaces.styl'

$actionmenu
    @extend $popover
    color var(--charcoalGrey)
    hr
        margin-top 0

$actionmenu--inline
    width rem(256)

$actionmenu-header
    box-sizing border-box
    border-bottom rem(1) solid var(--silver)
    padding rem(16)
    min-height rem(64)

$actionmenu-item
    padding spacing_values.s 0
    cursor pointer

    &:hover
        background-color var(--paleGrey)
