@require './popover.styl'

$actionmenu
    .c-actionmenu
        @extend        $popover
        z-index        $file-action-menu
        position       fixed
        bottom         .5625rem
        left           0
        width          'calc(100% - %s)' % 1rem
        margin         0 .5rem
        padding-bottom .3125rem
        box-sizing border-box

        &.with-transition
            transition transform .1s ease-out

        hr
            margin-top 0
