@require '../settings/z-index'
@require '../components/button'
/*!
 * NOTIFICATIONS
 * =============
 *
 * This file contains all needs for alerts
 */


alert-width = 40rem

$alert
    position          fixed
    z-index           $alert-index-mobile
    top               auto
    right             0
    bottom            3rem
    left              0
    display           block
    color             white
    opacity           1
    transition        bottom .5s ease-out, top .5s ease-out, opacity .2s ease-out
    cursor            pointer

    @media all and (min-width alert-width)
        z-index       $alert-index
        top           1rem
        bottom        auto
        text-align center

    p
        margin      0
        line-height 1.5

$alert-title
    font-weight bold

$alert-wrapper
    box-sizing        border-box
    box-shadow        0 .375rem 1.125rem 0 rgba(50, 54, 63, .23)
    background-color  emerald
    padding           .8rem 1rem

    @media all and (min-width alert-width)
        display       inline-block
        max-width     alert-width
        padding       1rem 1.5rem
        border-radius .625rem
        text-align    left

$alert--hidden
    bottom                     -25%
    top                        auto
    opacity                    0
    transition-timing-function ease-in

    @media all and (min-width alert-width)
        top     -25%
        bottom  auto

$alert--error
    background-color pomegranate

$alert--success
    background-color emerald

$alert--info
    background-color slateGrey

