@require '../components/button'
@require '../tools/mixins'
/*
 * NOTIFICATIONS
 * =============
 *
 * This file contains all needs for alerts
 */

alert-width = rem(640)

$alert
    position fixed
    z-index var(--zIndex-alert)
    right 0
    bottom calc(3rem + env(safe-area-inset-bottom))
    left 0
    opacity 1
    transition transform .2s ease-out, opacity .2s ease-out
    cursor default
    pointer-events none

    @media (prefers-reduced-motion: reduce)
        transition none

    @media all and (min-width alert-width)
        z-index var(--zIndex-alert)
        top rem(16)
        bottom auto
        text-align center

$alert--modal
    z-index var(--zIndex-alert)
    bottom 0

$alert-wrapper
    display inline-flex
    flex-wrap nowrap
    align-items center
    justify-content center
    box-sizing border-box
    width 100%
    box-shadow 0 rem(6) rem(18) 0 rgba(50, 54, 63, .23)
    padding rem(13 16)
    pointer-events auto

    p
        margin 0
        line-height 1.5

    p + button
        margin-left rem(24)

    @media all and (min-width alert-width)
        width auto
        max-width alert-width
        padding rem(16 24)
        border-radius rem(10)
        text-align left

$alert--hidden
    transform translateY(rem(80))
    opacity 0
    transition-timing-function ease-out

    @media all and (min-width alert-width)
        transform translateY(rem(-80))

$alert-title
    font-weight bold

$alert--error
    color var(--primaryTextColor)
    background-color var(--errorBackground)

$alert--success
    color var(--primaryTextColor)
    background-color var(--successBackground)

$alert--info
    color var(--primaryTextColor)
    background-color var(--secondaryBackground)
