@require '../settings/palette'

$avatar
    display inline-flex
    align-items center
    justify-content center
    border-radius 50%
    overflow hidden
    background-color paleGrey
    color silver

$avatar--small
    width 2rem
    height 2rem
    font-size 1rem

$avatar--medium
    width 4rem
    height 4rem
    font-size 2rem

    svg
        width 1.5rem
        height 1.5rem

$avatar-initials
    font-weight bold
    line-height 1

$avatar-image
    width 100%
