@require '../tools/mixins'
@require '../settings/palette'
@require '../tools/mixins'

$avatar
    display inline-flex
    align-items center
    justify-content center
    border-radius 50%
    overflow hidden
    background-color paleGrey
    color silver

$avatar--small
    width rem(32)
    height rem(32)
    font-size rem(16)

$avatar--medium
    width rem(64)
    height rem(64)
    font-size rem(32)

    svg
        width rem(24)
        height rem(24)

$avatar-initials
    font-weight bold
    line-height 1

$avatar-image
    width 100%
