@require '../settings/palette'
@require '../tools/mixins'

size = rem(14)

$badge-root
    position relative
    display inline-flex

$badge
    position absolute
    bottom - (size / 2)
    right - (size / 2)
    width size
    height size
    border-radius 50%
    background-color black
    color white
    z-index 1
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    align-content center
    align-items center
    font-size rem(10)
    border rem(1) solid white
    cursor inherit

$badge--new
    color zircon
    background-color dodgerBlue

$badge--normal
    color paleGrey
    background-color charcoalGrey

$badge--error
    color chablis
    background-color pomegranate
