@require '../settings/palette'
@require '../settings/icons'
@require '../utilities/display'
@require '../utilities/text'
@require '../tools/mixins'

/*------------------------------------*\
  Button
\*------------------------------------*/

$button
    box-sizing       border-box
    display          inline-flex
    margin           0 .25em
    border           1px solid dodgerBlue
    border-radius    2px
    min-height       2.5rem
    min-width        7rem
    padding          .2rem 1rem
    background       dodgerBlue
    vertical-align   top
    text-align       center
    color            white
    font-size        .875rem
    line-height      1
    text-transform   uppercase
    text-decoration  none
    cursor           pointer

    svg
        fill         currentColor
        margin-right .4rem

        &:only-child
            margin 0

    input
        cursor pointer

    > span
        display          flex
        align-items      center
        justify-content  center
        width            100%

    &:visited
        color white

    &[disabled]
    &[aria-disabled=true]
        opacity  .5
        cursor   not-allowed

        input
            cursor not-allowed

        &:hover
            background-color dodgerBlue

    &:active
    &:hover
    &:focus
        background-color  scienceBlue


    &[aria-busy=true]
        > span::after
            @extend    $icon-16
            @extend    $icon-spinner-white
            position   relative
            top        -.0625rem

/*------------------------------------*\
  Variants
\*------------------------------------*/
$button--regular  // Deprecated
    @extend $button

$button--secondary
    background-color  white
    color             black
    border-color      silver

    svg
        fill currentColor

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color white

    &:visited
        color black

    &:active
    &:hover
    &:focus
        background-color  silver

    &[aria-busy=true]
        &::after
            @extend  $icon-spinner-blue

$button--danger
    border-color      pomegranate
    background-color  pomegranate

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color pomegranate

    &:active
    &:hover
    &:focus
        border-color      monza
        background-color  monza

$button--danger-outline
    background-color  white
    color             pomegranate
    border-color      yourPink

    svg
        fill currentColor

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color white

    &:visited
        color pomegranate

    &:active
    &:hover
    &:focus
        background-color  yourPink

    &[aria-busy=true]
        &::after
            @extend  $icon-spinner-red

$button--highlight
    border-color      emerald
    background-color  emerald

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color emerald

    &:active
    &:hover
    &:focus
        border-color      malachite
        background-color  malachite

$button--alpha
    border-color      white
    background-color  transparent

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color transparent

    &:active
    &:hover
    &:focus
        background-color  scienceBlue

$link--upload
    background-image     embedurl('../assets/icons/ui/icon-upload-grey08.svg')
    background-position  1rem center
    background-repeat    no-repeat

$link--delete
    background-image     embedurl('../assets/icons/ui/icon-delete-grey08.svg')
    background-position  1rem center
    background-repeat    no-repeat

$button--action
    @extend $button--alpha
    border-color transparent
    padding .5rem
    opacity     .5

    svg
        margin 0

    &:active
    &:hover
    &:focus
        background-color  transparent

$button--close
    @extend $button--alpha
    border-color transparent
    padding .5rem

    svg
        margin 0

    &:active
    &:hover
    &:focus
        background-color  transparent

$button-alert
    border       0
    height       auto
    padding      .5rem 1rem
    background-color transparent
    font-weight  bold
    font-size .9rem

$button-alert--error
    @extend $button-alert
    color   pomegranate

    &:visited
        color pomegranate

    &:active
    &:hover
    &:focus
        color  darken(pomegranate, 25%)

$button-alert--info
    @extend           $button-alert
    background-color  coolGrey
    color             white

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color coolGrey

    &:visited
        color white

    &:active
    &:hover
    &:hover
    &:focus
        color  darken(white, 10%)
        background-color  darken(coolGrey, 10%)

$button-alert--success
    @extend $button-alert
    color   emerald

    &:visited
        color emerald

    &:active
    &:hover
    &:focus
        color darken(emerald, 25%)

$button-client
    @extend $button
    @extend $button--secondary
    display           flex
    justify-content   center
    align-items       center
    height            auto
    margin            0
    padding-left      1rem
    padding-right     1rem
    background-color  transparent
    text-align        left
    font-size         .8125rem
    font-weight       bold
    line-height       1.3
    color             slateGrey

    &:visited
        color slateGrey

    &:before
        content           ''
        flex              0 0 2rem
        height            2rem
        margin-right      .75rem
        background        embedurl('../assets/icons/ui/icon-device-laptop.svg') 0 0 / contain no-repeat

    span
        flex  0 1 auto

$button-client-mobile
    @extend $button-client
    display          flex
    justify-content  flex-start
    background-color dodgerBlue
    border           0
    border-radius    0
    padding          .5em 3em .5em 1em
    font-size        1rem
    font-weight      normal
    color            white
    text-decoration  none
    text-transform   none

    &[disabled]
    &[aria-disabled=true]
        &:hover
            background-color dodgerBlue

    &:visited
        color white

    &:active
    &:hover
    &:focus
        background-color dodgerBlue

    &:before
        flex                0 0 2.75rem
        height              2.75rem
        border-radius       .5em
        border              .3em solid white
        background          white embedurl('../assets/icons/ui/icon-cozy.svg') 0 0 / contain no-repeat

/*------------------------------------*\
  Sizes
\*------------------------------------*/
$button--tiny
    min-height 1.5rem
    min-width 5rem
    padding .15rem 1rem

$button--small
    min-height 2rem
    min-width 6rem
    padding .2rem .5rem

$button--large
    min-height 3rem
    min-width 10rem
    padding .5rem 1.5rem
    font-size 1rem

/*------------------------------------*\
  Extensions
\*------------------------------------*/
$button--full
    width 100%

$button--narrow
    min-width auto

/*------------------------------------*\
  Action button
\*------------------------------------*/
$actionbtn
    @extend $button
    border-color silver
    text-transform none
    max-width 12.5rem
    min-height 2rem
    width 100%
    padding-right .5rem
    text-align left

    > span
        justify-content flex-start
        flex-wrap nowrap

    [data-action='icon']
        border-left .0625rem solid silver

    &:not([disabled]):hover
        [data-action='icon']
            border-color currentColor

$actionbtn--compact
    @extend $button--narrow
    position relative
    margin-left .5rem
    border 0
    width 3rem
    height 3rem
    background-color transparent
    padding 0

    > span
        justify-content center

    svg
        margin 0

    [data-action='label']
        @extend $hide

    [data-action='icon']
        border-left none
        margin-left 0
        padding 0

    &:before
        content ''
        position absolute
        top 50%
        left -.0625rem
        transform translateY(-50%)
        width .0625rem
        height 1.5rem
        background-color silver

    &:hover
        background-color paleGrey
        border 0


$actionbtn--new
    border .0625rem dashed frenchPass
    background-color zircon
    color dodgerBlue

    &:hover
        border-style solid
        background-color frenchPass

$actionbtn--normal
    background-color paleGrey
    color charcoalGrey

    &:hover
        background-color silver

    &[disabled]:hover
    &[aria-disabled=true]:hover
        background-color paleGrey

$actionbtn--error
    border-color yourPink
    background-color chablis
    color pomegranate

    [data-action='icon']
        border-color yourPink

    &:hover
        background-color yourPink

$actionbtn-label
    @extend $ellipsis
    padding-right .5rem

$actionbtn-icon
    display block
    margin-left auto
    padding-left .5rem

    svg
        display block
