@import 'settings/palette'

$chip-height=2.5rem
$chip-font-size=1rem

$chip
    border-radius ($chip-height / 2)
    height $chip-height
    background paleGrey
    padding (($chip-height - $chip-font-size) / 2)
    box-sizing border-box
    line-height 1
    display inline-flex
    align-items center

$round-chip
    width $chip-height
    text-align center
    justify-content center
