@require 'settings/palette'
@require 'tools/mixins'

$chip-height = rem(40)
$chip-font-size = rem(16)

$chip
    border-radius ($chip-height / 2)
    height $chip-height
    background var(--paleGrey)
    padding (($chip-height - $chip-font-size) / 2)
    box-sizing border-box
    line-height 1
    display inline-flex
    align-items center
    margin-right rem(4)
    margin-bottom rem(4)
    border-width 0
    color inherit

$round-chip
    width $chip-height
    text-align center
    justify-content center

$chip-separator
    width rem(1)
    border-left rem(1) solid var(--silver)
    display inline-block
    height 100%
    margin-left rem(8)
    margin-right rem(8)

$chip-button
    cursor pointer
    color var(--slateGrey)

$chip-button--disabled
    color var(--coolGrey)
