@require '../tools/mixins'

circleSize(size)
    width size
    height size
    min-width size
    min-height size
    font-size 'calc(%s / 2.28)' % size

$circle
    --circleSize rem(40)
    $size = var(--circleSize)

    circleSize($size)
    display inline-flex
    align-items center
    justify-content center
    border-radius 50%
    overflow hidden
    background-color var(--dodgerBlue)
    color var(--white)

$circle--xsmall
    circleSize(rem(16))

$circle--small
    circleSize(rem(32))

$circle--large
    circleSize(rem(48))

$circle--xlarge
    circleSize(rem(64))

$circle-text
    font-weight bold
    line-height 1
