@require '../tools/mixins'

$circle
    display inline-flex
    align-items center
    justify-content center
    border-radius 50%
    overflow hidden
    color white
    background-color var(--dodgerBlue)

$circle--medium
    width rem(40)
    height rem(40)
    font-size rem(20)

$circle-text
    font-weight bold
    line-height 1
