@require '../settings/palette'
@require '../settings/z-index'
@require '../settings/breakpoints'

/*------------------------------------*\
  Modals
  ======

  This file contains all needs for modals
\*------------------------------------*/

$modals
    modal-width = 30rem
    z-index $modal-index

    .coz-modal-wrapper
        position          fixed
        top               0
        left              0
        display           flex
        flex-direction    row
        align-items       start
        box-sizing        border-box
        width             100vw
        height            100vh
        overflow-y        scroll
        padding           1rem

    .coz-modal
        position          relative
        margin            0 auto
        max-width         modal-width
        border-radius     .5rem
        min-width         modal-width
        max-height        100%

        background-color  white
        color             charcoal-grey
        display           flex
        flex-direction    column

    .coz-modal-content:first-child
    .coz-btn-modal-close + .coz-modal-content
        padding-top    1.5em

    .coz-modal-content:last-child
        padding-bottom    1.5em

    .coz-modal-content
        padding 0 1.5em
        overflow auto

    .coz-modal-section
        border-top 1px solid silver

    .coz-modal-content.coz-modal-title
        margin       0 0 1em
        // font is 1.5em
        padding      1em 3em 0 1em
        font-weight  bold
        overflow     visible

    .coz-btn-modal-close
        position         absolute
        top              1.3em
        right            1em
        margin           0
        padding          0
        background-size  2em
        background-color transparent
        cursor           pointer

    .coz-modal-buttons
        margin-top  2em
        text-align  right
        overflow    visible

        button
            margin-right  0
            margin-left   .625rem
            font-size     .9em

        +small-screen()
            &
                display flex
                flex-direction column-reverse
                flex-shrink 0
                button
                    width 100%
                    margin-left 0
                // since the order is reverse we target the first-child
                button:not(:first-child)
                    margin-bottom .25rem

        &.coz-modal--hidden
            top                         -25%
            opacity                     0
            transition-timing-function  ease-in

    .coz-modal--fullscreen
    .coz-modal--overflowHidden
        overflow hidden

    @media (max-width (modal-width + 2em))
        .coz-modal
            margin      auto
            max-width   modal-width
            min-width   auto
            width       100%
