@require '../settings/palette'
@require '../settings/z-index'
@require '../settings/breakpoints'
@require '../objects/layouts'

/*------------------------------------*\
  Modals
  ======

  This file contains all needs for modals
\*------------------------------------*/

// Modal sizes
small-width = 34rem
medium-width = 36rem
large-width = 40rem
xlarge-width = 50rem
xxlarge-width = 60rem

// Modal margins
small-margin = .5rem
medium-margin = 1.5rem
large-margin = 3rem
xlarge-margin = 3rem
xxlarge-margin = 3rem

// Modal paddings
tiny-padding = 1rem
small-padding = 1.5rem
medium-padding = 2rem
large-padding = 3rem
xlarge-padding = 3rem
xxlarge-padding = 3rem


$modals
    position relative
    z-index $modal-index

$modal-wrapper
    position fixed
    top 0
    left 0
    display flex
    flex-direction column
    align-items center
    box-sizing border-box
    width 100vw
    height 100vh
    overflow-y scroll
    padding large-margin

    +small-screen()
        justify-content center
        padding medium-margin

    +tiny-screen()
        padding small-margin

$modal
    @extend $elastic
    position relative
    border-radius .5rem
    max-height 100%
    background-color white
    color charcoalGrey

for size in 'small' 'medium' 'large' 'xlarge' 'xxlarge'
    $modal--{size}
        width lookup(size + '-width')

        $max-width=lookup(size + '-width') + lookup(size + '-margin') * 2
        @media (max-width: $max-width)
            width auto

$modal-wrapper--fullscreen
    +small-screen()
        padding 0

$modal--fullscreen
    +small-screen()
        height 100%
        width 100%
        border-radius 0

$modal-header
    @extend $elastic-bar
    margin 0 0 1rem
    padding 'calc(%s - .3rem)' % medium-padding 3rem 0 medium-padding
    overflow visible
    min-height 2.5rem

    h2
        margin 0
        font-weight bold

    +tiny-screen()
        margin-bottom .5rem
        padding 'calc(%s - .3rem)' % small-padding 2rem 0 small-padding

        h2
            font-size 1.25rem

$modal-header--branded
    @extend $modal-header
    padding 1rem 3rem

    img
        display block
        max-height 3.5rem
        margin 0 auto

$modal-header--small
    padding 'calc(%s - .3rem)' % small-padding 3rem 0 small-padding

    +tiny-screen()
        padding 'calc(%s - .3rem)' % tiny-padding 2rem 0 tiny-padding

$modal-header--large
    padding 'calc(%s - .3rem)' % large-padding 3rem 0 large-padding

    +small-screen()
        padding 'calc(%s - .3rem)' % medium-padding 2rem 0 medium-padding

$modal-content
    @extend $elastic-content
    padding 0 medium-padding

    &:last-child
        padding-bottom medium-padding
        border-bottom-right-radius .5rem
        border-bottom-left-radius .5rem

    +tiny-screen()
        padding 0 small-padding

        &:last-child
            padding-bottom small-padding

$modal-content--small
    padding 0 small-padding

    &:last-child
        padding-bottom small-padding

    +tiny-screen()
        padding 0 tiny-padding

        &:last-child
            padding-bottom tiny-padding

$modal-content--large
    padding 0 large-padding

    &:last-child
        padding-bottom large-padding

    +small-screen()
        padding 0 medium-padding

        &:last-child
            padding-bottom medium-padding

$modal-footer
    @extend $elastic-bar
    padding tiny-padding small-padding small-padding

$modal-footer--button
    text-align right

    button:last-child
        margin-right 0

    +small-screen()
        display flex
        flex-direction column-reverse

        button
            width 100%
            margin 0

            // since the order is reverse we target the first-child
            &:not(:first-child)
                margin-bottom .25rem

$modal-section
    border-top 1px solid silver

$modal-close
    position absolute
    top 1.5rem
    right 1.5rem
    margin 0
    padding 0
    background-size 1.75rem
    background-color transparent
    cursor pointer
    display block
    width 2.5rem
    height 2.5rem

    +tiny-screen()
        top .8rem
        right 1rem

$modal-close--small
    top 1rem
    right 1rem

    +tiny-screen()
        top .3rem
        right .5rem


$modal-close--large
    top 2.5rem
    right 2.5rem

    +small-screen()
        top 1.3rem
        right 1.5rem

$modal--hidden
    overflow hidden
