@require '../settings/breakpoints'
@require '../settings/z-index'

/*------------------------------------*\
  Navigation
\*------------------------------------*/

/*
    Navigation

    Navigation component that displays a list of item link to other pages

    Markup:
    <nav style="width: 220px">
        <ul class="c-nav">
            <li class="c-nav-item">
                <a class="c-nav-link is-active" href="#">Link 1</a>
            </li>
            <li class="c-nav-item">
                <a class="c-nav-link" href="#">Link 2</a>
            </li>
            <li class="c-nav-item">
                <a class="c-nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </nav>

    Styleguide Components.nav
*/

.c-nav
    margin     em(24px) 0
    padding    0
    list-style none
    padding-right 10%

.c-nav-item
    position        relative
    z-index         $app-index
    height          3em
    display         flex
    align-items     center
    padding-right   .5em

    &:hover::before
        content        ''
        position       absolute
        z-index        $below-index
        border-radius  0 3px 3px 0
        top 0
        left 0
        right 0
        bottom 0
        background     silver

.c-nav-link
    display              flex
    padding-left         em(50px)
    line-height          1.5
    text-decoration      none
    color                slate-grey
    height               100%
    align-items          center
    flex                 1
    background-repeat    no-repeat
    background-position  em(24px) center

    &:visited
        color  slate-grey

    &:hover
        color  charcoal-grey

    &.active // deprecated
    &.is-active
        box-shadow   inset 4px 0 0 0 dodger-blue
        font-weight  bold


+medium-screen()
    .c-nav
        display          flex
        justify-content  space-around
        margin           em(5px) 0 em(4px)
        padding-right    0

    .c-nav-item
        height        auto
        display       block
        flex          0 0 2.5em
        padding-right 0
        &:hover::before
            content  none

    .c-nav-link
        display              block
        height               auto
        padding              em(29px, 10px) 0 0
        text-align           center
        color                slate-grey
        font-size            10px
        line-height          1
        background-position  center top
        background-size      em(24px, 10px)

        &.active // deprecated
        &.is-active
        &:hover
            box-shadow   none
            font-weight  normal
            color        charcoal-grey

// Prevent double tap on tablets
@media not all and (pointer: fine)
    .coz-nav-item:hover::before
        content none

    .c-nav-link:hover
        color slate-grey
