@require '../settings/breakpoints'
@require '../settings/z-index'
@require '../tools/mixins'

/*------------------------------------*\
  Navigation
\*------------------------------------*/

$nav
    margin     rem(24) 0
    padding    0
    list-style none

    +medium-screen()
        display          flex
        justify-content  space-around
        margin           rem(5 0 4)
        padding-right    0


$nav-item
    position        relative
    z-index         $app-index
    height          rem(48)

    &:hover::before
        content        ''
        position       absolute
        z-index        $below-index
        border-radius  rem(0 3 3 0)
        top 0
        left 0
        right rem(16)
        bottom 0
        background     var(--silver)

        // Prevent double tap on tablets
        @media (hover: none)
            content none

    +medium-screen()
        margin 0 rem(12)
        height        auto
        display       block
        flex          0 0 rem(40)
        padding-right 0
        &:hover::before
            content  none


$nav-item-icon
    display inline-block
    margin-right rem(11)
    color var(--coolGrey)
    fill currentColor

    svg
        display block

    .is-active &
        color var(--dodgerBlue)

    :hover > &
        color var(--charcoalGrey)

    +medium-screen()
        display block
        font-size rem(24)
        margin-right 0
        text-align center

        svg
            width rem(24)
            height rem(24)

$nav-item-text
    +medium-screen()
        display block
        text-align center
        white-space nowrap

$nav-link
    display              flex
    padding-left         rem(24)
    padding-right        rem(16)
    line-height          1.5
    text-decoration      none
    color                var(--slateGrey)
    height               100%
    align-items          center
    flex                 1
    background-repeat    no-repeat
    background-position  rem(24) center

    &:visited
        color  var(--slateGrey)

    &:hover
        color  var(--charcoalGrey)

    &.active // deprecated
    &.is-active
        box-shadow   inset rem(4) 0 0 0 var(--dodgerBlue)
        font-weight  bold

        .c-nav-icon
            color var(--dodgerBlue)

    +medium-screen()
        display              block
        height               auto
        padding              0
        text-align           center
        color                var(--slateGrey)
        font-size            rem(10)
        line-height          1
        background-position  center top
        background-size      rem(24)

        &.active // deprecated
        &.is-active
        &:hover
            box-shadow   none
            font-weight  normal
            color        var(--charcoalGrey)

    // Prevent double tap on tablets
    @media not all and (pointer: fine)
        &:hover
            color var(--slateGrey)
