@require 'settings/spaces.styl'
@require 'settings/breakpoints.styl'

$panel-group
    display         flex
    flex-direction  row
    justify-content flex-start
    align-items     stretch
    box-sizing      border-box

$panel-main
    flex 1 0 65%
    overflow auto

$panel-side
    flex 0 0 35%
    background var(--paleGrey)
    overflow auto

$panel-main, $panel-side
    padding: sizes['1-half'] // @stylint ignore

    +tiny-screen()
        padding sizes['half']

+small-screen()
    $panel-group
        display block
        overflow auto

    $panel-main
        flex-basis auto

    $panel-side
        flex-basis auto
