@require '../settings/breakpoints'
@require '../settings/z-index'
@require '../utilities/display'
@require '../tools/mixins'


/*------------------------------------*\
  Selection Bar
  ======

  This file contains all needs for Selection Bar
\*------------------------------------*/

$selectionbar
    .coz-selectionbar
        position          fixed
        z-index           $selection-index
        top               0
        left              0
        box-sizing        border-box
        display           flex
        justify-content   center
        align-items       center
        width             100%
        height            rem(52)
        background-color  slateGrey
        color             white
        font-weight       bold

        .coz-selectionbar-separator
            margin            rem(0 8 0 32)
            width             rem(4)
            height            rem(4)
            border-radius     50%
            background-color  black

        button
            border              0
            padding-left        rem(16)
            color               white
            background-color    transparent
            line-height         rem(40)
            font-size           rem(14)
            text-transform      uppercase
            cursor              pointer

            svg
                position relative
                top rem(2)
                margin-right rem(8)
                fill currentColor

            &:disabled
                opacity  .5
                cursor   not-allowed

        .coz-action-extra
            display none

        .coz-action-close
            position          absolute
            top               50%
            right             0
            transform         translateY(-50%)


    +medium-screen()
        .coz-selectionbar
            top              auto
            bottom           0
            justify-content  flex-start
            box-sizing       content-box
            width            calc(100% - 2rem)
            height           rem(48)
            padding-left     rem(16)
            padding-right    rem(16)
            // iPhone X environment tweak
            padding-bottom env(safe-area-inset-bottom)

            .coz-selectionbar-count span
            .coz-action-moveto
                display none

            .coz-action-extra
                display block

            .coz-selectionbar-separator
                margin   0 0 0 rem(16)

            .coz-selectionbar-label
                @extend $visuallyhidden-mobile

            .coz-action-close
                top auto
                transform none
