$selectbox
    [role=option]
        display block

        button
        [role=button]
            display           block
            box-sizing        border-box
            width             100%
            vertically-padded .25em
