@require '../settings/breakpoints'
@require '../settings/z-index'

/*------------------------------------*\
  Selection Bar
  ======

  This file contains all needs for Selection Bar
\*------------------------------------*/

$selectionbar
    .coz-selectionbar
        position          fixed
        z-index           $selection-index
        top               0
        left              0
        box-sizing        border-box
        display           flex
        justify-content   center
        align-items       center
        width             100%
        height            em(52px, 16px)
        background-color  slate-grey
        color             white
        font-weight       bold

        .coz-selectionbar-separator
            margin            0 .5em 0 2em
            width             4px
            height            4px
            border-radius     50%
            background-color  black

        button
            border              0
            padding-left        em(50px)
            background-color    transparent
            background-position em(24px) center
            background-repeat   no-repeat
            color               white
            line-height         em(40px)
            font-size           14px
            text-transform      uppercase
            cursor              pointer

        .coz-action-share
            background-image embedurl('../assets/icons/ui/icon-share.svg')

        .coz-action-download
            background-image embedurl('../assets/icons/ui/icon-download.svg')

        .coz-action-trash
        .coz-action-destroy
        .coz-action-delete
            background-image embedurl('../assets/icons/ui/icon-delete.svg')

        .coz-action-openwith
            background-image embedurl('../assets/icons/ui/icon-openwith.svg')

        .coz-action-moveto
            background-image embedurl('../assets/icons/ui/icon-moveto.svg')

        .coz-action-rename
            background-image embedurl('../assets/icons/ui/icon-rename.svg')

        .coz-action-restore
            background-image embedurl('../assets/icons/ui/icon-restore-white.svg')

        .coz-action-album-add
            background-image embedurl('../assets/icons/ui/icon-album-add.svg')

        .coz-action-album-remove
            background-image embedurl('../assets/icons/ui/icon-album-remove.svg')


        .coz-action-extra
            display none

        .coz-action-close
            position          absolute
            top               50%
            right             0
            background-image  embedurl('../assets/icons/ui/icon-cross-white.svg')
            background-size   1em 1em
            text-indent       -9999px
            transform         translateY(-50%)

        .coz-action-download:disabled
        .coz-action-trash:disabled
        .coz-action-destroy:disabled
        .coz-action-delete:disabled
        .coz-action-restore:disabled
        .coz-action-openwith:disabled
        .coz-action-album-add:disabled
        .coz-action-album-remove:disabled
            opacity  .5
            cursor   not-allowed

    +medium-screen()
        .coz-selectionbar
            top              auto
            bottom           0
            justify-content  flex-start
            height           em(48px, 16px)
            padding-left     1em
            padding-right    1em

            .coz-selectionbar-count span
            .coz-action-moveto
                display none

            .coz-action-extra
                display block

            .coz-selectionbar-separator
                margin   0 0 0 1em

            button
                width         em(48px)
                overflow      hidden
                text-indent   -5000px
                padding-left  0
                color         transparent
                background-position em(12px)
