@require '../settings/breakpoints'

$table
    .coz-table
        position        relative
        display         flex
        flex-direction  column
        flex            1 1 100%
        height          100%
        text-align      left
        color           cool-grey

    .coz-table-head
        flex 0 0 em(31px, 16px)

        &.coz-table-row:hover
            background-color white

    .coz-table-body
        flex      1 1 auto
        display   flex
        flex-direction column
        // Because it needs a height to be scrollable. Don't ask.
        height    1px
        overflow  auto

    .coz-table-header
    .coz-table-cell
        box-sizing  border-box
        padding     em(15px, 14px) em(32px, 14px) // @stylint ignore
        font-size   14px

    .coz-table-row
        display         flex
        flex-direction  row
        align-items     center
        flex            0 0 auto
        width           100%
        border-bottom   1px solid silver

        &:hover
            background-color pale-grey

    .coz-table-cell.coz-table-primary
        padding-left   em(45px)
        font-size      16px
        line-height    1.3
        white-space    nowrap
        overflow       hidden
        text-overflow  ellipsis

    .coz-table-primary
        color charcoal-grey

    .coz-table-ext
        color cool-grey

    .coz-table-header
        padding         em(8px, 12px) em(32px, 12px) // @stylint ignore
        font-size       12px
        text-transform  uppercase

    +medium-screen()
        .coz-table-row
            max-width  100vw

    +small-screen()
        .coz-table-head
            display none

        .coz-table-body
            max-height  100%

        .coz-table-primary
            flex 1 1 auto

        .coz-table-cell.coz-table-primary
            padding-left em(61px)
            background-position em(16px) center
