@require '../settings/breakpoints'
@require '../settings/palette'

$table
    position relative
    display flex
    flex-direction column
    flex 1 1 100%
    height 100%
    text-align left
    color coolGrey

$table-head
    flex 0 0 2rem

    +small-screen()
        display none

$table-body
    flex 1 1 auto
    display flex
    flex-direction column
    overflow auto

    +small-screen()
        max-height 100%

$table-row
    box-sizing border-box
    display flex
    flex-direction row
    align-items center
    flex 0 0 auto
    height 3rem
    width 100%
    border-bottom 1px solid silver

    &:hover
        background-color paleGrey

    +medium-screen()
        max-width 100vw

$table-row-head
    @extend $table-row

    &:hover
        background-color transparent

$table-row-selected
    &
    &:hover
        background-color alpha(dodgerBlue, .1)

$table-cell
    box-sizing border-box
    padding .875rem 1rem
    font-size .875rem
    line-height 1.3


$table-header
    @extend $table-cell
    padding .5rem 1rem
    font-size .75rem
    font-weight bold
    text-transform uppercase

$table-cell--primary
    font-size 1rem
    line-height 1.15
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    color charcoalGrey

    +small-screen()
        flex 1 1 auto

$table-divider
    position sticky
    top 0
    background-color white
    text-indent 2rem
    font-weight bold
    font-size .75rem
    line-height 1.33
    color coolGrey

    &::before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-color alpha(dodgerBlue, .05)


    +small-screen()
        text-indent 1rem
