@require '../tools/mixins.styl'

$tabs-base
    .coz-tab-list
        border-bottom  rem(1) solid var(--silver)

    .coz-tab
        display        inline-block
        padding        rem(10 16)
        text-transform uppercase
        font-size      rem(13)
        cursor         pointer
        color          var(--coolGrey)

        &:hover
            text-decoration none

    .coz-tab--active
        border-bottom rem(2) solid var(--dodgerBlue)
        color         var(--dodgerBlue)

    .coz-tab-panel
        padding-top rem(20)
