// Scoping anchor required so CSS modules don't strip :global block
.root
    :global
        .react-colorful
            height 140px

            &__saturation
                width 246px
                border-radius 0
            &__hue
                width 246px
                height 18px
                border-radius 0
                margin-top 20px
            &__pointer
                width 20px
                height 20px
                border-width 1px
.input
    width 72px
