/*------------------------------------*\
  CSS classes for those who want the
  full library loaded kinda like
  Bootstrap.
\*------------------------------------*/

/*------------------------------------*\
  Required dependencies
\*------------------------------------*/
@require '../settings/*'
@require '../tools/*'
@require '../generic/animations'
@require '../../node_modules/normalize.css/normalize.css'
@require '../elements/*'
@require '../objects/*'
@require '../components/button'
@require '../components/nav'
@require '../utilities/*'

/*------------------------------------*\
  Objects
\*------------------------------------*/

// Layout
.o-layout--2panes
    @extend $app-2panes-sticky

// Sidebar
.o-sidebar
    @extend $sidebar

/*------------------------------------*\
  Components
\*------------------------------------*/
/*
 Buttons

 Buttons in different flavour

 Markup:
 <div class="u-p-1">
     <button class="c-btn {{modifier_class}}">Click me, I'm a button!</button>
 </div>

 .c-btn--secondary - Basic alternative
 .c-btn--danger - Danger
 .c-btn--danger-outline - Danger outlined
 .c-btn--highlight - Highlighted button to catch the eye

 Weight: -1

 Styleguide Components.buttons
*/
.c-btn
    @extend $button

.c-btn--regular // Deprecated in favour of just .c-btn
    @extend $button--regular

.c-btn--secondary
    @extend $button--secondary

.c-btn--danger
    @extend $button--danger

.c-btn--danger-outline
    @extend $button--danger-outline

.c-btn--highlight
    @extend $button--highlight

/*
 Buttons with icons

 Those buttons can inherit any flavour of buttons described above.

 The SVG icon is filled with a color consistent with the theme of its button.

 Markup:
 <div class="u-p-1">
    <button class="c-btn {{modifier_class}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M14,5c0,-1.656 -1.344,-3 -3,-3l-6,0c-1.656,0 -3,1.344 -3,3l0,6c0,1.656 1.344,3 3,3l6,0c1.656,0 3,-1.344 3,-3l0,-6Z"/>
        </svg>
        Click me, I'm a button!
    </button>
 </div>

 .c-btn--secondary - Basic alternative
 .c-btn--danger - Danger
 .c-btn--danger-outline - Danger outlined
 .c-btn--highlight - Highlighted button to catch the eye

 Styleguide Components.buttons.icons
*/

.c-link--upload
    @extend $link--upload

.c-link--delete
    @extend $link--delete

.c-btn--action
    @extend $button--action

.c-btn--close
    @extend $button--close

/*------------------------------------*\
  Alert's specific buttons
\*------------------------------------*/
/*
 Alert's buttons

 Buttons that look like links, with icons

 Markup:
 <div class="u-p-1">
     <button class="c-btn--alert {{modifier_class}} u-m-1">Click me, I'm a button!</button>
     <a hre="#" class="c-btn--alert {{modifier_class}} u-m-1">Click me, I'm a link!</a>
 </div>

 .c-btn-alert--error - Error button
 .c-btn-alert--info - Information button
 .c-btn-alert--success - Success button

 Weight: 10

 Styleguide Components.buttons.alert
*/
.c-btn-alert
    @extend $button-alert

.c-btn-alert--error
    @extend $button-alert--error

.c-btn-alert--info
    @extend $button-alert--info

.c-btn-alert--success
    @extend $button-alert--success

/*------------------------------------*\
  Special buttons
\*------------------------------------*/
/*
 Special buttons

 Special link that look like buttons (<a> only)

 Markup:
 <div class="u-p-1" style="background-color: darkgrey; width: 50%;">
     <a hre="#" class="{{modifier_class}} u-mb-1">Click me, I'm a link!</a>
 </div>

 .c-btn-client - Button to download Cozy client app
 .c-btn-client-mobile - Button to download Cozy client app on mobile

 Weight: 20

 Styleguide Components.buttons.special
*/
.c-btn-client
    @extend $button-client

.c-btn-client-mobile
    @extend $button-client-mobile

/*
    Navigation

    Navigation component that displays a list of item link to other pages

    Markup:
    <nav style="width: 220px">
        <ul class="c-nav">
            <li class="c-nav-item">
                <a class="c-nav-link is-active" href="#">
                    <span class="c-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M14,5c0,-1.656 -1.344,-3 -3,-3l-6,0c-1.656,0 -3,1.344 -3,3l0,6c0,1.656 1.344,3 3,3l6,0c1.656,0 3,-1.344 3,-3l0,-6Z"/>
                        </svg>
                    </span>
                    <span class="c-nav-text">Link 1</span>
                </a>
            </li>
            <li class="c-nav-item">
                <a class="c-nav-link" href="#">
                    <span class="c-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M14,5c0,-1.656 -1.344,-3 -3,-3l-6,0c-1.656,0 -3,1.344 -3,3l0,6c0,1.656 1.344,3 3,3l6,0c1.656,0 3,-1.344 3,-3l0,-6Z"/>
                        </svg>
                    </span>
                    <span class="c-nav-text">Link 2</span>
                </a>
            </li>
            <li class="c-nav-item">
                <a class="c-nav-link" href="#">
                    <span class="c-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M14,5c0,-1.656 -1.344,-3 -3,-3l-6,0c-1.656,0 -3,1.344 -3,3l0,6c0,1.656 1.344,3 3,3l6,0c1.656,0 3,-1.344 3,-3l0,-6Z"/>
                        </svg>
                    </span>
                    <span class="c-nav-text">Link 3</span>
                </a>
            </li>
        </ul>
    </nav>

    Styleguide Components.nav
*/
.c-nav
    @extend $nav

.c-nav-item
    @extend $nav-item

.c-nav-link
    @extend $nav-link

.c-nav-icon
    @extend $nav-item-icon
    fill currentColor

.c-nav-text
    @extend $nav-item-text

/*------------------------------------*\
  Forms
\*------------------------------------*/
/*
 Form

 Form elements

 Styleguide Components.form

*/

/*
 Label

 Label element coupled with any other form elements like inputs, textareas, select,etc

 Markup:
 <form>
    <div>
        <label class="c-label {{modifier_class}}" for="">Hello, I'm a label</label>
    </div>
 </form>

 .is-error - Error variant

 Weight: 1

 Styleguide Components.form.label
*/
.c-label
    @extend $label

/*
 Input text

 Input element for text but also password, url, email

 Markup:
 <form>
    <div class="u-mb-1">
        <input type="text" class="c-input-text {{modifier_class}}" placeholder="I'm an input[type=text]" value="" />
    </div>
    <div class="u-mb-1">
        <input type="password" class="c-input-text {{modifier_class}}" placeholder="I'm an input[type=password]" value="" />
    </div>
    <div class="u-mb-1">
        <input type="url" class="c-input-text {{modifier_class}}" placeholder="I'm an input[type=url]" value="" />
    </div>
    <div class="u-mb-1">
        <input type="email" class="c-input-text {{modifier_class}}" placeholder="I'm an input[type=email]" value="" />
    </div>
 </form>

 .is-error - Error variant

 Weight: 2

 Styleguide Components.form.input-text
*/
.c-input-text
    @extend $input-text

/*------------------------------------*\
  Utilities
\*------------------------------------*/
/*
    Utilities

    Ready-to-use utility classes

    Weight: -4

    Styleguide utilities
*/

/*
    Display

    Utilities that change the box model of an element or its visibility.

    Styleguide utilities.display
*/

/*
    Visibility

    Utilities that show or hide an element for a giving viewport size.

    Markup:
    <p class="{{modifier_class}}">I'm visible! 🎉</p>

    .u-hidden - Element is visually hidden but still readable by screen-readers
    .u-hide - Element is totally hidden (even for screen readers)
    .u-hide--desk - Element is hidden on desktop (>768px)
    .u-hide--mob - Element is hidden on mobile (<1023px)

    Styleguide utilities.visibility
*/
.u-visuallyhidden
    @extend $visuallyhidden

.u-hide
    @extend $hide

.u-hide--mob
    @extend $hide--mob

.u-hide--desk
    @extend $hide--desk

/*
    Text

    Utilities that mess only with with wild texts.

    Styleguide utilities.text
*/

/*
    Error

    Utilities that give text some semantic color in case of error.

    Markup: <p class="{{modifier_class}}">Somehow you messed up somewhere.</p>

    .u-error - simple error text

    Styleguide utilities.text.error
*/

/*
    Error with warning icon

    Utilities that give text some semantic color in case of important error.

    Markup: <p class="u-error {{modifier_class}}">You really missed, badly.</p>

    .u-error--warning - error with warning icon

    Styleguide utilities.text.errorWarn
*/

.u-error
    @extend $error

.u-error--warning
    @extend $error-warning

/*
 Valid

 Utilities that give text some semantic color in case of success.

 Markup: <p class="{{modifier_class}}">Yay, you did it!</p>

 .u-valid - simple valid text

 Styleguide utilities.text.valid
*/
.u-valid
    @extend $valid

/*
 Warning

 Utilities that give text some semantic color in case of warning.

 Markup: <p class="{{modifier_class}}">Ok, something went wrong but it's not that bad.</p>

 .u-warn - simple warning text

 Styleguide utilities.text.warn
*/
.u-warn
    @extend $warn

/*
    Margins

    Classes to add margins on top, bottom, right, left or all of them based on
    default font-size (16px)

    .u-m-half - Margins on all sides with half a line (8px)
    .u-m-1 - Margins on all sides with 1 line (16px)
    .u-m-1-half - Margins on all sides with 1 line an a half (24px)
    .u-m-2 - Margins on all sides with 2 lines (32px)
    .u-m-2-half - Margins on all sides with 1 line an a half (40px)
    .u-m-3 - Margins on all sides with 2 lines (48px)
    .u-mt-half - Margin Top with half a line (8px)
    .u-mt-1 - Margin Top with 1 line (16px)
    .u-mt-1-half - Margin Top with 1 line an a half (24px)
    .u-mt-2 - Margin Top with 2 lines (32px)
    .u-mt-2-half - Margin Top with 1 line an a half (40px)
    .u-mt-3 - Margin Top with 2 lines (48px)
    .u-mb-half - Margin Bottom with half a line (8px)
    .u-mb-1 - Margin Bottom with 1 line (16px)
    .u-mb-1-half - Margin Bottom with 1 line an a half (24px)
    .u-mb-2 - Margin Bottom with 2 lines (32px)
    .u-mb-2-half - Margin Bottom with 1 line an a half (40px)
    .u-mb-3 - Margin Bottom with 2 lines (48px)
    .u-ml-half - Margin Left with half a line (8px)
    .u-ml-1 - Margin Left with 1 line (16px)
    .u-ml-1-half - Margin Left with 1 line an a half (24px)
    .u-ml-2 - Margin Left with 2 lines (32px)
    .u-ml-2-half - Margin Left with 1 line an a half (40px)
    .u-ml-3 - Margin Left with 2 lines (48px)
    .u-mr-half - Margin Right with half a line (8px)
    .u-mr-1 - Margin Right with 1 line (16px)
    .u-mr-1-half - Margin Right with 1 line an a half (24px)
    .u-mr-2 - Margin Right with 2 lines (32px)
    .u-mr-2-half - Margin Right with 1 line an a half (40px)
    .u-mr-3 - Margin Right with 2 lines (48px)

    Markup:
    <div style="background-color:dimgrey; border: 1px solid black;"><div style="padding:.5rem; background-color:gainsboro;" class="{{modifier_class}}">🎶 Gimme some margin 🎵 </div></div>

    Styleguide utilities.margins
*/
.u-m-half
    @extend $m-half

.u-m-1
    @extend $m-1

.u-m-1-half
    @extend $m-1-half

.u-m-2
    @extend $m-2

.u-m-2-half
    @extend $m-2-half

.u-m-3
    @extend $m-3

.u-mt-half
    @extend $mt-half

.u-mt-1
    @extend $mt-1

.u-mt-1-half
    @extend $mt-1-half

.u-mt-2
    @extend $mt-2

.u-mt-2-half
    @extend $mt-2-half

.u-mt-3
    @extend $mt-3

.u-mb-half
    @extend $mb-half

.u-mb-1
    @extend $mb-1

.u-mb-1-half
    @extend $mb-1-half

.u-mb-2
    @extend $mb-2

.u-mb-2-half
    @extend $mb-2-half

.u-mb-3
    @extend $mb-3

.u-ml-half
    @extend $ml-half

.u-ml-1
    @extend $ml-1

.u-ml-1-half
    @extend $ml-1-half

.u-ml-2
    @extend $ml-2

.u-ml-2-half
    @extend $ml-2-half

.u-ml-3
    @extend $ml-3

.u-mr-half
    @extend $mr-half

.u-mr-1
    @extend $mr-1

.u-mr-1-half
    @extend $mr-1-half

.u-mr-2
    @extend $mr-2

.u-mr-2-half
    @extend $mr-2-half

.u-mr-3
    @extend $mr-3

/*
    Paddings

    Classes to add paddings on top, bottom, right, left or all of them based on
    default font-size (16px)

    .u-p-half - Paddings on all sides with half a line (8px)
    .u-p-1 - Paddings on all sides with 1 line (16px)
    .u-p-1-half - Paddings on all sides with 1 line an a half (24px)
    .u-p-2 - Paddings on all sides with 2 lines (32px)
    .u-p-2-half - Paddings on all sides with 1 line an a half (40px)
    .u-p-3 - Paddings on all sides with 2 lines (48px)
    .u-pt-half - Padding Top with half a line (8px)
    .u-pt-1 - Padding Top with 1 line (16px)
    .u-pt-1-half - Padding Top with 1 line an a half (24px)
    .u-pt-2 - Padding Top with 2 lines (32px)
    .u-pt-2-half - Padding Top with 1 line an a half (40px)
    .u-pt-3 - Padding Top with 2 lines (48px)
    .u-pb-half - Padding Bottom with half a line (8px)
    .u-pb-1 - Padding Bottom with 1 line (16px)
    .u-pb-1-half - Padding Bottom with 1 line an a half (24px)
    .u-pb-2 - Padding Bottom with 2 lines (32px)
    .u-pb-2-half - Padding Bottom with 1 line an a half (40px)
    .u-pb-3 - Padding Bottom with 2 lines (48px)
    .u-pl-half - Padding Left with half a line (8px)
    .u-pl-1 - Padding Left with 1 line (16px)
    .u-pl-1-half - Padding Left with 1 line an a half (24px)
    .u-pl-2 - Padding Left with 2 lines (32px)
    .u-pl-2-half - Padding Left with 1 line an a half (40px)
    .u-pl-3 - Padding Left with 2 lines (48px)
    .u-pr-half - Padding Right with half a line (8px)
    .u-pr-1 - Padding Right with 1 line (16px)
    .u-pr-1-half - Padding Right with 1 line an a half (24px)
    .u-pr-2 - Padding Right with 2 lines (32px)
    .u-pr-2-half - Padding Right with 1 line an a half (40px)
    .u-pr-3 - Padding Right with 2 lines (48px)

    Markup:
    <div style="background-color:gainsboro; display: inline-block;" class="{{modifier_class}}"><span style="background-color:bisque;">🎼 Gimme some padding 💃</span></div>

    Styleguide utilities.paddings
*/
.u-p-half
    @extend $p-half

.u-p-1
    @extend $p-1

.u-p-1-half
    @extend $p-1-half

.u-p-2
    @extend $p-2

.u-p-2-half
    @extend $p-2-half

.u-p-3
    @extend $p-3

.u-pt-half
    @extend $pt-half

.u-pt-1
    @extend $pt-1

.u-pt-1-half
    @extend $pt-1-half

.u-pt-2
    @extend $pt-2

.u-pt-2-half
    @extend $pt-2-half

.u-pt-3
    @extend $pt-3

.u-pb-half
    @extend $pb-half

.u-pb-1
    @extend $pb-1

.u-pb-1-half
    @extend $pb-1-half

.u-pb-2
    @extend $pb-2

.u-pb-2-half
    @extend $pb-2-half

.u-pb-3
    @extend $pb-3

.u-pl-half
    @extend $pl-half

.u-pl-1
    @extend $pl-1

.u-pl-1-half
    @extend $pl-1-half

.u-pl-2
    @extend $pl-2

.u-pl-2-half
    @extend $pl-2-half

.u-pl-3
    @extend $pl-3

.u-pr-half
    @extend $pr-half

.u-pr-1
    @extend $pr-1

.u-pr-1-half
    @extend $pr-1-half

.u-pr-2
    @extend $pr-2

.u-pr-2-half
    @extend $pr-2-half

.u-pr-3
    @extend $pr-3
