// @stylint off
// DEFINITIONS
@import '../../node_modules/normalize.css/normalize.css'
@import '../ui-base/animations'


// UTILS
@import '../ui-base/mixins'
:global .coz-hidden
    @extend $hidden


// LAYOUT
[role=application]
    width      100vw
    height     100vh
    overflow-x hidden


// BOXES
@import '../ui-base/boxes'
[aria-hidden=true]
    hide()


// FONTS
@import '../ui-base/fonts'
@font-face
    font-family Lato
    font-style normal
    font-weight normal
    src embedurl('../../assets/fonts/Lato-Regular.woff2') format('woff2')

@font-face
    font-family Lato
    font-style normal
    font-weight bold
    src embedurl('../../assets/fonts/Lato-Bold.woff2') format('woff2')

body
    font 1em/1.5
    @extend $font-labor


// COLORS
@import '../ui-base/palette'
body
    background-color white
    color            black


// BUTTONS
@import '../ui-components/button'
:global .coz-btn
    @extend $button

    &.coz-btn--regular
        @extend $button--regular

    &.coz-btn--secondary
        @extend $button--secondary

    &.coz-btn--danger
        @extend $button--danger

    &.coz-btn--danger-outline
        @extend $button--danger-outline

    &.coz-btn--highlight
        @extend $button--highlight

    &.coz-btn--upload
        @extend $button--upload

    &.coz-btn--more
        @extend $button--more

    &.coz-btn--close
        @extend $button--close

    &.coz-btn--extra
        @extend $button--extra

    &.coz-btn--extra-white
        @extend $button--extra-white

    &.coz-btn-alert--error
        @extend $button-alert--error

    &.coz-btn-alert--info
        @extend $button-alert--info

    &.coz-btn-alert--success
        @extend $button-alert--success


// FORMS
@import '../ui-app/forms'
input[type=text]
input[type=password]
    background-color grey-01


[data-input=radio]
    @extend $form-checkbox

    label::before
        border-radius 50%
        border        2px solid grey-04
        box-shadow    inset 0 0 0 checkbox-size transparent

    input[type=radio]:checked + label::before
        box-shadow inset 0 0 0 3px grey-01, inset 0 0 0 checkbox-size dodger-blue


[data-input=checkbox]
    @extend $form-checkbox

    label
        &::before
        &::after
            border-radius 2px

        &::before
            box-shadow inset 0 0 0 2px grey-02

            &:hover
                box-shadow inset 0 0 0 2px dodger-blue

        &::after
            background-image embedurl('../../assets/icons/ui/check.svg')

    &[aria-checked='mixed'] label::after
            background-image embedurl('../../assets/icons/ui/dash.svg')

    input[type=checkbox]
        &:checked
            & + label::before
                box-shadow inset 0 0 0 checkbox-size dodger-blue

            & + label::after
                opacity   1
                transform scale(1)

        &:not(:checked) + label::after
            opacity   0
            transform scale(0)
// @stylint on
