.ThresholdBar
    position relative
    height 4px

    --okBg: var(--malachite)
    --errBg: var(--pomegranate)

.ThresholdBar__bg
    height 100%
    border-radius 2px
    overflow hidden

.ThresholdBar__inner
    height 100%

.ThresholdBar__tick
    height 12px
    z-index 1
    background black
    width 2px
    position absolute
    top -4px
    transform left 0.125s ease


.ThresholdBar__bg, .ThresholdBar__inner
    transform background 0.125s ease

.ThresholdBar__bg
    background var(--paleGrey)

    .ThresholdBar--exceeded &
        background var(--errBg)

.ThresholdBar__inner
    background var(--okBg)

    .ThresholdBar--exceeded &
        background transparent

