@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/button'
@require '../../stylus/utilities/display'
@require '../../stylus/components/modals'

.coz-modal-container
    @extend $modals

.coz-btn
    @extend $button

.coz-btn--regular
    @extend $button--regular

.coz-btn--secondary
    @extend $button--secondary

.coz-btn--danger
    @extend $button--danger

.coz-btn--danger-outline
    @extend $button--danger-outline

.coz-btn--highlight
    @extend $button--highlight

.coz-btn--share
    @extend $button--share

.coz-btn--upload
    @extend $button--upload

.coz-btn--download
    @extend $button--download

.coz-btn--delete
    @extend $button--delete

.coz-btn--close
    @extends $button--close

.coz-hidden
    @extends $visuallyhidden
