@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/button'
@require '../../stylus/components/modals'

.coz-modal-container
  @extends $modals
