@require '../../stylus/tools/mixins'
@require '../../stylus/settings/palette'
@require '../../stylus/components/button'
@require '../../stylus/utilities/display'
@require '../../stylus/components/modals'

.c-modal-container
    @extend $modals

.c-modal-wrapper
    @extend $modal-wrapper

.c-modal
    @extend $modal

.c-modal--small
    @extend $modal--small

.c-modal--medium
    @extend $modal--medium

.c-modal--large
    @extend $modal--large

.c-modal--xlarge
    @extend $modal--xlarge

.c-modal--xxlarge
    @extend $modal--xxlarge

.c-modal-header
    @extend $modal-header

.c-modal-footer
    @extend $modal-footer

.c-modal-section
    @extend $modal-section

.c-modal-content
    @extend $modal-content

.c-modal--compressed
    .c-modal-header
        @extend $modal-header--compressed
    .c-modal-content
        @extend $modal-content--compressed
    .c-modal-footer
        @extend $modal-footer--compressed

.c-modal--spacious
    .c-modal-header
        @extend $modal-header--spacious
    .c-modal-content
        @extend $modal-content--spacious
    .c-modal-footer
        @extend $modal-footer--spacious

.c-modal-close
    @extend $modal-close

.c-modal--overflowHidden
    @extend $modal--hidden

.c-modal-close + .c-modal-content
    margin-top 4rem
