/*!
 * NOTIFICATIONS
 * =============
 *
 * This file contains all needs for modals
 */


$modals
    modal-width = em(480px)
    .coz-modal
        z-index 100

    .coz-overlay
        position   absolute
        height     100%
        width      100%
        top        0
        left       0
        background rgba(grey-08, .5)
        visibility visible
        transition opacity .3s, visibility 0s ease-out

        &.coz-overlay--hidden
            opacity          0
            visibility       hidden
            transition       opacity .3s 0s, visibility 0s ease-in .3s


    .coz-modal
        display          block
        position         fixed
        top              50%
        left             50%
        min-width        modal-width
        height           auto
        transform        translateX(-50%) translateY(-50%)
        border-radius    em(8px)
        background-color white
        box-sizing       border-box
        padding          1em 1.5em
        color            grey-08

        .coz-modal-title
            font-weight bold
            bottom-spaced(1.8em)

        .coz-modal-close
            position        absolute
            top             2em
            right           1.8em
            background-size 22px

        &.coz-modal--hidden
            top                        -25%
            opacity                    0
            transition-timing-function ease-in


    @media all and (min-width modal-width)
        .coz-modal
            max-width   modal-width
            width       100%
