@import '../ui-base/z-index'

/*------------------------------------*\
  Navigation
\*------------------------------------*/

$navigation
    .coz-nav
        margin     em(24px) 0
        padding    0
        list-style none
        padding-right 10%

    .coz-nav-item
        position        relative
        z-index         $app-index
        height          3em
        display         flex
        align-items     center

        &:hover::before
            content        ''
            position       absolute
            z-index        $below-index
            border-radius  0 3px 3px 0
            top 0
            left 0
            right 0
            bottom 0
            background     grey-09

    .coz-nav-link
        display          flex
        left-padded      50px
        line-height      1.5
        text-decoration  none
        color            grey-11
        height           100%
        align-items      center
        flex             1

        &:visited
            color  grey-11

        &.active
        &:hover
            color  grey-08

        &.active
            box-shadow   inset 4px 0 0 0 dodger-blue
            font-weight  bold


    @media (max-width: (1023/basefont)rem)
        .coz-nav
            display          flex
            justify-content  space-around
            margin           em(10px) 0 em(5px)

        .coz-nav-item
            &:hover::before
                content  none

        .coz-nav-link
            min-width    em(100px)
            padding      em(35px) 0 0
            text-align   center
            color        grey-11
            font-size    10px
            line-height  1

            &.active
            &:hover
                box-shadow   none
                font-weight  normal
                color        grey-08
