/*!
 * NOTIFICATIONS
 * =============
 *
 * This file contains all needs for notifications
 */


$notifications
    notification-width = em(546px)
    .coz-notifier
        z-index 100

    .coz-notification
        display          block
        position         absolute
        top              em(16px)
        left             0
        margin           0 em(16px)
        border-radius    em(10px)
        background-color green
        box-shadow       0 em(6px) em(18px) 0 rgba(50, 54, 63, .23)
        box-sizing       border-box
        padding          1em
        color            white

        //                  When only a title is displayed
        min-height          em(96px)
        padding-left        em(96px)
        background          embedurl('../../assets/icons/icon-check.svg') no-repeat em(24px) center
        transition                 top .5s ease-out
        cursor                     pointer

        .coz-notification-title
            font-weight bold

    .coz-notification--error
        background-color red
        background-image embedurl('../../assets/icons/icon-warn.svg')

    .coz-notification--closing
        top                        -25%
        transition-timing-function ease-in

    @media all and (min-width notification-width)
        .coz-notification
            left        50%
            max-width   notification-width
            margin-left -(notification-width/2)
            width       100%
