.c-avatar
    display inline-block
    border-radius 50%
    text-align center
    overflow hidden

.c-avatar--small
    width 2rem
    height 2rem

    .c-avatar-initials
        font-size 1rem

.c-avatar--medium
    width 4rem
    height 4rem

    .c-avatar-initials
        font-size 2rem

.c-avatar-initials
    font-weight bold
    line-height 2.2

.c-avatar-image
    width 100%
