@require '../../stylus/components/avatar'

.c-avatar
    @extend $avatar

.c-avatar--small
    @extend $avatar--small

.c-avatar--medium
    @extend $avatar--medium

.c-avatar-initials
    @extend $avatar-initials

.c-avatar-image
    @extend $avatar-image
