@require '../../stylus/components/avatar'
@require '../../stylus/components/circle'

.c-avatar
    @extend $circle
    @extend $avatar
.c-avatar--text
    color white

.c-avatar--disabled
    &.c-avatar--image
        background-color white !important // to override inline style props

    &:not(.c-avatar--image)
        background-color var(--silver) !important // to override inline style props

    & .c-avatar-image
        filter grayscale(1)
        opacity .3

.c-avatar-initials
    @extend $circle-text

.c-avatar-image
    @extend $avatar-image
