@require 'tools/mixins.styl'
@require 'settings/breakpoints.styl'
@require 'components/nav.styl'

.c-nav
    @extend $nav

.c-nav-item
    @extend $nav-item

.c-nav-link
    @extend $nav-link

.c-nav-icon
    @extend $nav-item-icon

.c-nav-text
    @extend $nav-item-text
