@require '../../stylus/components/badge'

.c-badge-root
    @extend $badge-root

.c-badge
    @extend $badge

.c-badge--new
    @extend $badge--new

.c-badge--normal
    @extend $badge--normal

.c-badge--error
    @extend $badge--error
