/*!
 * BASIC TOOLS
 * ===========
 *
 * This file contains basic tools for everyday use :).
 */
$error
    padding         .5em
    border-radius   4px
    background-color red
    color            white
