@require 'settings/breakpoints.styl'

.contact
    color var(--secondaryTextColor)

    +small-screen()
        height auto

.contact--clickable
    cursor pointer

.contact-phone
    flex 0 0 12rem

.contact-cozyurl
    flex 0 0 12rem

.contact-email
    flex-basis 30%

.contact-myself
    color var(--secondaryTextColor)
    padding-left .5rem

.contact-identity
    flex-basis 30%

    +small-screen()
        flex 1 1 auto

.contact-firstname
    margin-left 1rem

.contact-avatar
    flex-shrink 0
