/*------------------------------------*\
  Animations
\*------------------------------------*/
/*
    Animations

    Available animations:

    spin - Animates an element by rotating it endlessly by 360 deg (used by the loading spinner)

    Styleguide Generic.animation
*/
@keyframes spin
    from
        transform rotate(0deg)
    to
        transform rotate(359deg)
