/*------------------------------------*\
  Normalize
  =====

  This file loads Normalize in order
  to unify elements rendering across
  browsers
\*------------------------------------*/
/*
    Generic

    Weight: -8

    Styleguide Generic
*/
/*
    Normalize

    Normalize is used in order to unify elements rendering across browsers.

    Styleguide Generic.normalize
*/
@require '~normalize.css/normalize.css'
