@require '../settings/palette'

/*------------------------------------*\
  Typography
\*------------------------------------*/

/*------------------------------------*\
  Titles
\*------------------------------------*/

$title-default
    font-weight bold
    color charcoalGrey

$title-h1
    font-size 1.5rem
    line-height 2.5
    letter-spacing -.0125rem
    @extend $title-default

$title-h2
    font-size 1.125rem
    letter-spacing -.0125rem
    @extend $title-default

$title-h3
    font-size 1.25rem
    @extend $title-default

$title-h4
    font-size 1rem
    @extend $title-default

/*------------------------------------*\
  Text content
\*------------------------------------*/

$text
    font-size 1rem
    line-height 1.3
    color charcoalGrey

$caption
    font-size .75rem
    line-height 1.2
    color coolGrey
