@require '../settings/palette'
@require '../settings/breakpoints'

/*------------------------------------*\
  Typography
\*------------------------------------*/

/*------------------------------------*\
  Titles
\*------------------------------------*/

$title-default
    font-weight bold
    color charcoalGrey

$title-h1
    @extend $title-default
    font-size 1.5rem
    letter-spacing -.125rem
    +small-screen()
        font-size 1.25rem

$title-h2
    @extend $title-default
    font-size 1.25rem
    +small-screen()
        font-size 1.125rem

$title-h3
    @extend $title-default
    font-size 1.125rem
    +small-screen()
        font-size 1rem

$title-h4
    @extend $title-default
    font-size 1rem
    +small-screen()
        color slateGrey

/*------------------------------------*\
  Text content
\*------------------------------------*/

$text
    font-size 1rem
    line-height 1.3
    color charcoalGrey

$caption
    font-size .75rem
    line-height 1.2
    color coolGrey
