@require '../../stylus/settings/palette'
@require '../../stylus/tools/mixins'

.select-control__input
    width 0
    height 0
    overflow hidden

.select-option
    display block
    padding rem(8)
    border-left rem(4) solid transparent
    color charcoalGrey
    transition all .2s ease-out
    white-space normal /* otherwise the tick can be wrongly placed in Firefox */

    &:hover:not(.select-option--disabled)
        background-color paleGrey
        cursor pointer

.select-option--focused:not(.select-option--disabled)
    background-color paleGrey

.select-option--selected
    background-color paleGrey
    border-left-color dodgerBlue

.select-option--disabled
    color silver
    cursor not-allowed

.select-option__checkbox
    margin-right rem(8)
    vertical-align top

.select-option--checkmark
    float right

.select__overlay
    // Covers all the app so that clicking outside ends up
    // not on an option (hence not selecting) but on the select
    // so that anything under does not get clicked.
    &::before
        content '\00a0'
        width 200vw
        height 200vh
        top -50vh
        left -50vh
        display block
        position fixed
