@require '../../stylus/settings/palette'

.select-control__input
    width 0
    height 0
    overflow hidden

.select-option
    display block
    padding .5rem
    border-left 4px solid transparent
    color charcoalGrey
    transition all .2s ease-out
    white-space normal /* otherwise the tick can be wrongly placed in Firefox */

    &:hover:not(.select-option--disabled)
        background-color paleGrey
        cursor pointer

.select-option--focused:not(.select-option--disabled)
    background-color paleGrey

.select-option--selected
    background-color paleGrey
    border-left-color dodgerBlue

.select-option--disabled
    color silver
    cursor not-allowed

.select-option__checkbox
    margin-right .5rem
    vertical-align top

.select-option--checkmark
    float right
