@require 'settings/breakpoints.styl'
@require 'settings/shadows.styl'
@require 'settings/typography.styl'

$tileSize = 8.75rem
$tileMobileHeight = 3.75rem

.Tile
  box-sizing border-box
  position relative
  display flex
  flex-direction column
  flex 0 0 $tileSize
  width $tileSize
  height $tileSize
  align-items center
  background var(--paperBackgroundColor)
  border-radius 4px
  border solid 1px var(--dividerColor)
  padding .375rem
  margin-bottom 1rem
  margin-right .75rem
  overflow hidden
  transition .15s ease all

  &.Tile-secondary
    background var(--contrastBackgroundColor)
    border-color var(--contrastBackgroundColor)

.Tile:hover,
.Tile:active,
.Tile:focus
  box-shadow box-shadow-12
  cursor pointer
  transform scale(1.1)


+small-screen()
  .Tile
    flex-basis 100%
    flex-direction row
    height $tileMobileHeight
    justify-content flex-start
    margin-right 0.5rem
    margin-bottom .5rem
    padding-left .5rem

  .Tile:hover,
  .Tile:active,
  .Tile:focus
    transform scale(1.01)

.Tile-icon-wrapper
  margin-top .25rem
  margin-bottom .25rem
  width 3rem
  height 3rem

.Tile-desc
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  margin-top .5rem
  text-align center
  max-width 100%

.Tile-title, .Tile-developer, .Tile-status
  display block
  margin 0
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  max-width 100%

.Tile-title
  color var(--black)

  &.Tile-title-multiline
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical
    overflow hidden
    white-space normal

.Tile-developer
  height 1rem

.Tile-status
  margin-top .5rem
  height 1rem

  &.Tile-status-accent
    color var(--primaryColor)


+small-screen()
  .Tile-icon-wrapper
    margin-top 0
    margin-bottom 0
    width 3rem
    height 2.5rem

  .Tile-desc
    margin-top 0
    margin-left .5rem
    text-align left
    flex-grow 1

  .Tile-title
    height 1rem
    font-weight normal
    font-size $subtitle-font-size !important //to remove m-ui h6 font size

  .Tile-title, .Tile-developer, .Tile-status
    width 100%

  .Tile-developer
    display none

  .Tile-status
    margin-top .125rem
