@require 'settings/breakpoints.styl'

.DialogCloseButton
    top 0.83rem
    right 1.5rem
    background-color transparent
    margin 0
    padding 0
    width 3rem
    height 3rem
    position absolute
    border 0
    cursor pointer

+small-screen()
    .DialogCloseButton
        top 0.35rem
        right 0.5rem
