@require 'tools/mixins'

.c-banner
    &-wrapper
        padding rem(16) rem(8) rem(16)

    &-icon
        width rem(40)
        height rem(40)
        svg
            width 100%
            height 100%