.IconStack-wrapper {
    position relative
    display inline-block
}
.IconStack-foregroundIcon-center{
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
}

.IconStack-foregroundIcon-bottom-right{
    position absolute
    top 12px
    left 16px
    width 24px
    height 24px
    display flex
    align-items center
    justify-content center
}