$centerized
    position  absolute
    top       50%
    left      50%
    transform translateX(-50%) translateY(-50%)


$content-center
    display         flex
    align-items     center
    justify-content center


$app-2panes-toolbar
    display flex
    width   100vw
    height  100vh

    main
    [role=contentinfo]
        flex     1
        height   auto
        overflow-x hidden
        overflow-y auto

    main
        display  flex
        flex-direction column


$fullbleed
    position fixed
    bottom   0
    top      0
    left     0
    right    0
