@import 'cozy-ui'

[role=application]
    @extend $app-2panes-toolbar

    > aside
    [role=toolbar] > div
    [role=contentinfo]
        padding .5em

    > aside
        background-color red

    [role=toolbar]
        background-color green
        display flex

        [formaction="drawer/toggle"]
            padding    0
            flex-basis 2.25em

    [role=contentinfo]
        background-color blue
