@require 'components/table.styl'

.Table
    @extend $table

.TableHead
    @extend $table-head

    .TableRow
        @extend $table-row-head

.TableBody
    @extend $table-body

.TableRow
    @extend $table-row

.TableCell
    @extend $table-cell

.TableHeader
    @extend $table-header
