// Buttons of any kind
.coz-btn
    display inline-block
    margin 0 em(8px)
    border 1px solid grey-09
    padding em(11px) em(15px) em(10px)
    background-color white
    font-size(14px)
    text-transform uppercase

    &--regular
        border-color blue2
        background-color blue2
        color white

    &--upload
        left-padded(44px)
        // background: embedurl("../../../assets/icons/icon-download.svg") em(17px, 16px) center no-repeat

