$dialog
    @extend    $fullbleed
    overflow-x hidden
    overflow-y auto
    z-index    100


    [role=separator]
        z-index 1
        @extend $fullbleed


    .wrapper
        @extend    $content-center
        min-height 100vh
        padding    3em 1em
        box-sizing border-box


    [role=contentinfo]
        z-index    2
        flex       0 1 em(960px)
        position   relative
        display    flex
        box-sizing border-box

        background-color white
        border           em(1px) solid grey-01
        border-radius    em(5px)
        box-shadow       0 1px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)


$alertdialog
    @extend $dialog

    [role=contentinfo]
        flex-basis em(420px)
        padded     30px

        flex-direction column

        transform  translateY(calc((50vh + 55%) * -1))
        transition transform 400ms ease-out


    &[aria-busy=true] [role=contentinfo]
        transform translateY(-50%)


    .actions
        display        flex
        flex-direction row-reverse

        li
            flex 1

            &:not(:first-child)
                margin-right 10px

        button
        [role=button]
            width 100%
