@require '../../stylus/components/chip'

.c-chip
    @extend $chip

.c-chip--round
    @extend $round-chip

.c-chip--small
    @extend $small-chip

.c-chip--normal
    @extend $normal-chip

.c-chip--outlined
    @extend $outlined-chip

.c-chip--dashed
    @extend $dashed-chip

.c-chip-separator
    @extend $chip-separator

.c-chip-button
    @extend $chip-button

.c-chip-button--disabled
    @extend $chip-button--disabled
