@require '../../stylus/components/chip'

.Chip
    @extend $chip

.RoundChip
    @extend $round-chip

.ChipSeparator
    @extend $chip-separator

.ChipButton
    @extend $chip-button

.ChipButton--disabled
    @extend $chip-button--disabled
