@require '../../stylus/components/tabs'

body
    --tabsIndicatorColor var(--primaryColor)
    --tabsActiveTextColor var(--primaryColor)
    --tabsInactiveTextColor var(--coolGrey)
    --tabsBackground transparent

.coz-tabs
    @extend $tabs-base
