@require 'settings/breakpoints.styl'

.Stack > * + *
    margin-top .5rem

.Stack--dense > * + *
    margin-top .25rem

.Stack--sparse > * + *
    margin-top .75rem

+small-screen()
    .Stack > * + *
        margin-top .25rem

    .Stack--dense > * + *
        margin-top .15rem

    .Stack--sparse > * + *
        margin-top .5rem
