@require 'settings/palette.styl'
@require 'settings/breakpoints'
@require 'tools/mixins'

.context-header
  margin rem(16 32)
  background paleGrey
  border rem(1) solid silver
  padding rem(16)
  border-radius rem(5)
  display flex
  flex-grow 1
  flex-shrink 0
  flex-direction row
  justify-content flex-start
  align-items center

  +small-screen()
      margin rem(8)

.context-header-content
  flex-grow 1
  flex-shrink 1
  overflow hidden

.context-header-icon
  width rem(32)
  height rem(32)
  margin-right rem(16)
  flex-shrink 0
