:root {
  --dodgerBlue: #cc0000;
  --scienceBlue: #ab0000;
  --primaryColor: #cc0000;
  --primaryColorLight: #fc4949;
  --primaryColorLightest: #fca2ab;
  --zircon: #fff5f6;
  --charcoalGrey: #000000;
  --primaryFont: 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}
