@require '../tools/mixins'
@require '../settings/breakpoints'
@require '../settings/z-index'

// To move to Cozy-bar
// Double the selector to increase specificity since
// media queries do not increase specificity and we want
// to override the position: relative
[role=banner][role=banner]
    +medium-screen()
        position fixed
        top 0
        left 0
        width 100%
        background-color white
        box-sizing border-box
// END Cozy-Bar

/*------------------------------------*\
  Layouts
\*------------------------------------*/

$centerized
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)


$content-center
    display flex
    align-items center
    justify-content center


$fullbleed
    position fixed
    bottom 0
    top 0
    left 0
    right 0

// One column layout
$app
    box-sizing border-box
    display flex
    max-width 100%
    width 100%
    height 100%

    main
        display flex
        flex-direction column
        flex 0 0 auto

    main,
    main > [role=contentinfo]
        position relative
        display flex
        flex-direction column
        flex 1 1 auto
        box-sizing border-box
        height 100%
        overflow-x hidden
        overflow-y auto

// STICKY layout
// When you want a sidebar and you want it to act like a sticky footer on mobile
$app-2panes-sticky
    @extend $app
    flex 0 0 100%
    height auto
    align-items stretch

    & > aside
        display flex
        flex-direction column
        flex 0 0 auto

    main,
    main > [role=contentinfo]
        height auto

    +medium-screen()
        display block

        main,
        main > [role=contentinfo]
            display block
            overflow visible

        // Those pseudo-elements are "ghost" elements replacing bar and nav
        &:before
        &:after
            content ''
            display block
            height 3rem

        > aside
            position fixed
            bottom 0
            left 0
            display block
            z-index $nav-index
            width 100%
