$media
    display flex
    align-items center

$media--top
    align-items flex-start

$media--bottom
    align-items flex-end

$media__grow
    flex 1 1 auto
    overflow hidden

$media__fixed
    line-height 0
    flex 0 0 auto
