@import '../settings/z-index'

/*------------------------------------*\
  Navigation
\*------------------------------------*/

$navigation
    .coz-nav
        margin     em(24px) 0
        padding    0
        list-style none
        padding-right 10%

    .coz-nav-item
        position        relative
        z-index         $app-index
        height          3em
        display         flex
        align-items     center
        padding-right   .5em

        &:hover::before
            content        ''
            position       absolute
            z-index        $below-index
            border-radius  0 3px 3px 0
            top 0
            left 0
            right 0
            bottom 0
            background     silver

    .coz-nav-link
        display              flex
        left-padded          50px
        line-height          1.5
        text-decoration      none
        color                slate-grey
        height               100%
        align-items          center
        flex                 1
        background-repeat    no-repeat
        background-position  em(24px) center

        &:visited
            color  slate-grey

        &.active
        &:hover
            color  charcoal-grey

        &.active
            box-shadow   inset 4px 0 0 0 dodger-blue
            font-weight  bold


    @media (max-width: (1023/basefont)rem)
        .coz-nav
            display          flex
            justify-content  space-around
            margin           em(5px) 0 em(4px)
            padding-right    0

        .coz-nav-item
            height    auto
            display   block
            &:hover::before
                content  none

        .coz-nav-link
            display              block
            height               auto
            min-width            em(100px, 10px)
            padding              em(29px, 10px) 0 0
            text-align           center
            color                slate-grey
            font-size            10px
            line-height          1
            background-position  center top
            background-size      em(24px, 10px)

            &.active
            &:hover
                box-shadow   none
                font-weight  normal
                color        charcoal-grey
