@require '../settings/breakpoints'

/*------------------------------------*\
  Sidebar
\*------------------------------------*/

.coz-sidebar // deprecated
.o-sidebar
    width             em(220px, 16px)
    border-right      1px solid silver
    background-color  pale-grey
    justify-content   space-between

    +medium-screen()
        border-top   1px solid silver
        border-left  none
        height       em(48px, 16px)
