@require '../settings/breakpoints'
@require '../settings/palette'

/*------------------------------------*\
  Sidebar
\*------------------------------------*/

$sidebar
    width 13.75rem
    border-right 1px solid silver
    background-color paleGrey

    +medium-screen()
        justify-content space-between
        border 0
        border-top 1px solid silver
        height 3rem
        width 100%
