@require '../settings/breakpoints'
@require '../tools/mixins'

/*------------------------------------*\
  Sidebar
\*------------------------------------*/

:root
    --sidebarHeight: rem(52)

$sidebar
    width rem(220)
    background-color var(--defaultBackgroundColor)
    overflow-y auto
    overflow-x hidden

    &--border
        border-right rem(1) solid var(--dividerColor)

    &--large
        width rem(236)

    +medium-screen()
        justify-content space-between
        border 0
        border-top rem(1) solid var(--dividerColor)
        height var(--sidebarHeight)
        width 100%
        // iPhone X environment tweak
        padding-bottom env(safe-area-inset-bottom)
